[2018-09-11 17:40] carlcs opened #154 "Query arguments only for exact matches?"
Hesitant to ask this because I haven’t done much with GraphQL yet. Is it currently only possible to use query arguments for exact matches? So there’s no way to query, for example, for entries after a given date, or entries with a price field that has a value in a given range?

I found out about the `idNot` argument and certain arguments like `section` take arrays? `search` works for a some use cas

[2018-09-11 17:41] timkelty commented on #153
Hmmmm...

Examples:
- https://github.com/sebastian-lenz/craft-linkfield (`MyFieldLinkType`). If this is up to the implementor, I can make a PR there.
- Perhaps a different thing because its enum, but selection fields (dropdown, etc) result in

These are perhaps different cases, but noting here:
- Selection fields yield`MyFieldEnum` (doesn't implement `SelectOne` or `SelectMultiple`, e.g.)
- Matric

[2018-09-11 18:03] markhuot commented on #153
Ah, yea, this is a mistake the link field should probably use a single type instead of one per field. This could be a bad copy based from my old Redactor implementation. So,

1. I need to update my Redactor implementation to not have multiple types per field
2. It's probably worth opening a PR for the link field after I fix the Redactor field
3. The selection fields and Matrices have to be differe

[2018-09-11 18:15] carlcs commented on #154
Thanks @markhuot, that’s good to know. The problem I ran into was with my first attempt to this kind of query where I wanted to filter by a Number field and CraftQL complained about the type.

[2018-09-11 18:16] markhuot commented on #154
Ah, yea, that's the strong typing of the underlying GraphQL implementation. What field were you trying to do that on? There's definitely some fields that will break like that and it'd be good if we could find an alternative way to query them.

[2018-09-11 18:27] carlcs commented on #154
Now that I know that it works with other field types, I can change my field to a Plain Text field.

[2018-09-11 18:29] markhuot commented on #154
That'll work in the short term. I'm going to look at adding the something like this though,

[code]

That way we get the strict typing of the number on the default field but provide a "query" field for times when you need the Craft style searching.

[2018-09-11 20:29] markhuot commented on #153
Okay, `dev-master` fixes point number one, above. I'll open a PR for the link field shortly to fix point number two. And then point number three, unfortunately can't change. If you see any alternatives for point three, please let me know.

This is on `dev-master`.

[2018-09-11 21:15] carlcs commented on #154
That would be a great feature for sure! Could this potentially also allow to pass in more complex query params?

[code]

[2018-09-12 16:55] timkelty commented on #153
Thanks mark! nah, 3 isn't an issue, just wanted to point everything out. If it were to be addressed, I think a common interface would be the way to go.

[2018-09-12 17:32] timkelty opened #155 "Expose label data for SelectOne/SelectMultiple"
SelectOne/SelectMultiple field types end up as enums of the values, but it may be common to want to access the selected label.

Since the label is added to the enum's description, I thought maybe I could do this introspectively already, but didn't find a solution.

Ideas:

- Split it up into an object type with "label" and "value(s)"
- Add an `@description` directive that will get the enum value's

[2018-09-12 18:02] markhuot commented on #155
Hrm, I'm worried about switching it to an object because that's not how `craft.entries` behaves in Twig, I don't think. I don't mind the `@description` directive, but I do wonder if you can do this with introspection. What about the following,

[code]

This works with a Craft Field that has a handle of `enumTest` and then the inferred CraftQL type name of `EnumTestEnum` (with the `Enum` suffix).

[2018-09-12 18:34] timkelty commented on #155
@markhuot Craft will return `craft\fields\data\SingleOptionFieldData` and `craft\fields\data\MultiOptionFieldData`, (which has a `getOptions` method, that returns the labels and values). In Twig, if you just outputting the field, you'll get the value, but only because of the `__toString` method.

Yeah the `__type` method works, it's just seems a little hard to work with, since its not attached to

[2018-09-12 18:35] markhuot commented on #155
Ah, I see. Hrm… then the object does sound nice but it's a backwards compatibility break, let me think on it. I'm leaning towards the directive, though.

[2018-09-13 17:02] alexcarpenter commented on #115
@markhuot I seem to be still experiencing this issue Andrew pointed out above. I am using version 1.1.0 of the plugin.

In the screenshot below, I would assume `currentPage` would be 4.

![screen shot 2018-09-13 at 1 01 33 pm](https://user-images.githubusercontent.com/825855/45503562-35f2ae00-b755-11e8-84d2-2ff12f7c3912.jpg)

[2018-09-13 18:38] markhuot commented on #115
Are you able to try `dev-master` and see if that fixes it up for you? I've included some fixes to better pass around the `limit:` attribute.

[2018-09-13 19:39] alexcarpenter commented on #115
On `dev-master` I am now getting `currentPage` at 5

![screen shot 2018-09-13 at 3 37 07 pm](https://user-images.githubusercontent.com/825855/45511440-ff279280-b76a-11e8-8f85-ee2f649f459b.jpg)

If I update to offset by 8 I get `currentPage` at 3

![screen shot 2018-09-13 at 3 39 07 pm](https://user-images.githubusercontent.com/825855/45511504-326a2180-b76b-11e8-830a-c4e1fe62e8b0.jpg)

[2018-09-13 20:12] markhuot commented on #115
With 11 total entries and a limit of 3 and an offset of 9 I get the correct, `currentPage` of 4. Can you tell what commit Composer updated you too? Maybe you're one commit behind, I _just_ pushed before my last message.

![screen shot 2018-09-13 at 4 11 29 pm](https://user-images.githubusercontent.com/48975/45513129-d6ee6280-b76f-11e8-95fc-fb9a1b9800d5.png)

[2018-09-13 20:14] alexcarpenter commented on #115
Here's what is in my composer.json file.
[code]

[2018-09-13 20:35] markhuot commented on #115
Hrm, that's the latest version. I mimicked the same exact query and got the right `currentPage`. If possible, could you send me a database export to the email address listed on my GitHub profile? I'd like to debug this further.

[2018-09-14 14:09] markhuot commented on #115
Okay… whoo boy, I'm a dummy. I committed half the changes, but forgot the most important part. Gah, sorry about that. `dev-master` should _now_ contain the fix. I tested this with a fresh install and don't see the issue any more.

[2018-09-14 14:18] alexcarpenter commented on #115
Haha, no problem. It works as expected now. Thanks for the help!

[2018-09-14 20:53] magicspon commented on #41
hey @markhuot , thanks for the heads up.

I've been using gatsby-source-graphql with craft/craftql and it's been pretty seamless, how does this differ?

ta

[2018-09-15 07:49] zauni commented on #41
I think @magicspon already meant the native schema stitching with the official [gatsby-source-graphql](https://www.npmjs.com/package/gatsby-source-graphql/v/2.0.0-rc.6) plugin. The old [gatsby-source-graphql](https://www.npmjs.com/package/@wyze/gatsby-source-graphql) plugin from @wyze used graphql files for the queries.
It's a bit confusing that they have the same name...

[2018-09-15 11:53] magicspon commented on #41
Yup.. I've been using the official one.

[2018-09-16 04:22] jonnyasmar opened #156 ""No Schema Available""
Hello @markhuot !

First, I want to say -- what an incredible plugin! I'm migrating an existing Craft 3 site built traditionally on Twig templates & PHP to a React SPA and this is a frickin' God-send. I can't express to you the gratitude I have for this plugin right now...

Only issue I'm currently experiencing is it seems my schema is broken. I'm getting the "No Schema Available" message when I o

[2018-09-16 14:53] jonnyasmar commented on #156
Aha! Digging a little further into the issues here to learn more about CraftQL, I learned that the devmode=true flag gives a little bit more info which led me to a temporary solution.

So, I had a dropdown field that had numbers as values -- it seems this broke the schema analyzer "RatingEnum must be an array with values as keys".

After replacing all of the values of my dropdown with strings (tha

[2018-09-17 15:15] markhuot commented on #156
Oooo, interesting, yes this is one of the most fragile parts of the "Craft to GraphQL" conversion. Craft also allows empty drop-down values, which GraphQL chokes on too.

In terms of a fix I'm inclined to say that CraftQL just won't support numeric drop-down values, not natively at least because GraphQL doesn't support it. The only other option I can think of is some sort of transformer that moves

[2018-09-17 16:18] timkelty opened #157 "Redactor: link refs broken when queried from non-matching site"
I would seem that Craft relies on the requesting site when parsing Redactor content for refs.

Example:
Requesting from `https://siteB.com/api`

[code]

Can result in an unparsed ref (e.g. `<a href=\"{entry:2581:url}\">`), if the entry doesn't exist on `siteB`).

Opening here, but this seems like something that should be fixed in Craft/Redactor.

[2018-09-18 15:02] swthate opened #158 "Error: message: Not authorized using default curl command"
This is similar to issue #56

Craft CMS: 3.0.24
CraftQL: 1.1.0
PHP: 7.1.1

This is on a local project running on MAMP Pro. My PHP is set to CGI mode. As far as I can tell it's not in Fast CGI mode (i.e. `fastcgi.impersonate = 1;` is commented-out).

I have been working on trying to get a basic Vue component to communicate with CraftQL via Axios. The javascript I wrote has nothing to do with this,

[2018-09-18 15:12] timkelty commented on #89
Any update on this one?

I think the only remaining issues I'm having are:
- needing a `me`/`currentUser` field, as [mentioned above](https://github.com/markhuot/craftql/issues/89#issuecomment-412610847)
- Access-Control-Expose-Headers issue, [mentioned above](https://github.com/markhuot/craftql/issues/89#issuecomment-413676611)

[2018-09-18 15:15] timkelty commented on #157
Closing this, as it would need to be fixed in Craft/Redactor

[2018-09-18 15:18] timkelty commented on #137
@markhuot When you get a chance, can you peek at my PR and see if you think this issue should be reopened?

An event like this would help devs need something added to an existing interface.

[2018-09-18 18:13] markhuot commented on #137
I see. Reopening to reevaluate.

[2018-09-19 13:17] markhuot commented on #158
Try removing the `:` from your `authorization` header. It should be,

[code]

[2018-09-19 13:34] markhuot commented on #156
Unfortunately I don't have a great way to fix this so I added an explicit `Exception` in to the code. Now if you bootstrap CraftQL with numeric drop-down values you'll get an error pointing you right to the field with the issue. I'll leave this open until I cut a stable release.

[2018-09-19 14:33] swthate commented on #158
Darn, I was hoping it would be that simple. After removing the `:` the problem persists. And the sample `curl` command returns that `{"errors":[{"message":"Not authorized"}]}` message, and it has the correct `"Authorization: bearer F--ybX..."` syntax.

[2018-09-19 14:35] markhuot commented on #158
In your MAMP settings under the host you need to go to the Apache tab and explicitly enable header based authorization with the following `<Directory>` directive,

[code]

My config looks like this,

![screen shot 2018-09-19 at 10 34 58 am](https://user-images.githubusercontent.com/48975/45760313-c0288f80-bbf7-11e8-931c-a41984244660.png)

[2018-09-19 15:03] swthate commented on #158
Hmm, I'm not sure what I have going on. After adding that line to the <Directory> directive like you showed I was getting the same errors. So I spun up an entirely new Craft install, installed CraftQL, made that <Directory> change you showed again, and I'm getting the same error message from the sample Curl statement.

I'm running MAMP PRO 4.1.1. Should I update this, or do you think the issue is

[2018-09-20 13:11] timkelty commented on #150
@markhuot so I'm running off that branch now, but not sure what I should be expecting…

When I peeked at the Api controller, it seems like requests were still `$singular: true`, so not batched…
Am I supposed to interact differently with the API to use batched requests?

[2018-09-20 13:14] timkelty opened #159 "Eager loading?"
Not sure how feasible this would be, but ideally queries with nested element queries would employ eager-loading to improve performance: https://docs.craftcms.com/v3/dev/eager-loading-elements.html#app

[2018-09-20 14:17] markhuot commented on #150
Oh, so I'm trying to make lives easier with that. Basically, if you pass a single query you're going to get a single query back. Typically if you pass a batch it has to be an array, like this,

[code]

But I wrote it such that you can turn on batching and continue sending a single query without issue,

[code]

Regardless of the initial query you send to the server you should see batching benefits

[2018-09-20 14:20] markhuot commented on #159
I'm doing this a little already. Any time you pull a list of entries, if you ask for the `author` field I tack on `->with('author')`,

https://github.com/markhuot/craftql/blob/master/src/Request.php#L139-L145

There's definitely some more places I can be doing this but I haven't gotten around to it yet. I'll look and see what sort of eager loading I can do on the entries/assets fields, next.

[2018-09-20 14:21] timkelty commented on #150
ah gotcha! thanks. More testing coming!

[2018-09-20 14:27] markhuot commented on #158
Thanks, that's helpful. Looks like something between your request and PHP isn't sending the `authorization:` header through. This definitely feels like the MAMP issue,

https://github.com/yiisoft/yii2/issues/6631

But you've made the change you're supposed to make. You could try adding the line to `.htaccess` and see if that helps. Maybe MAMP 4 handles it a little differently than MAMP 5…?

[2018-09-20 22:08] swthate commented on #158
Editing `.htaccess` itself (the only one in `web/` right?) didn't have any effect, ugh! Here is what my `.htaccess` looks like after the edit:

[code]

I'll do a Time Machine backup and try updating MAMP tomorrow.

[2018-09-21 14:31] markhuot commented on #158
Yea, you've got what you should have there for getting the authorization header through. I'm sorry I don't have much else to offer. Let me know how the MAMP update goes and if there's anything else I can do to help.

[2018-09-23 15:38] magicspon commented on #158
@swthate did you have any joy updating Mamp?

I also have the same issue when running crafql locally, works perfectly well on a digital ocean droplet.

[2018-09-23 19:32] jonnyasmar commented on #156
@markhuot Thanks for the quick action on this one! I think an explicit exception will help a lot.

One suggestion I might add is to make note of the dev mode features somewhere in the README :)

[2018-09-25 17:12] markhuot commented on #155
`dev-master` now adds an `OptionFieldData` object type to these sorts of fields. This is implemented as a new GraphQL field with the suffix `_FieldData`. So, to query a list of selected languages that may be implemented as checkboxes you could do,

[code]

[2018-09-25 18:57] markhuot commented on #137
We discussed this a bit on Slack and it was determined that this event is not needed _yet_. It probably will some day but if the issue is missing fields on the core object types then I'd rather PR a fix to add the fields than have core fields implemented all over a variety of add-ons/hacks.

Once I see a "oh yea, that should definitely be possible, but _not_ in core" we can re-visit adding this ev

[2018-09-25 19:18] lukepearce opened #161 "Error: FieldNameEnum values must be an array with value names as keys."
I'm updating a Craft 2 site to Craft 3 and have installed CraftQL through composer but when I go to GraphiQL view I see the following error before making a query:

[code]

The field MerchantDeliveryDays is a Checkbox field with the following values:

![image](https://user-images.githubusercontent.com/1732601/46037446-67ca2400-c108-11e8-8dec-12e9aba70db2.png)

[2018-09-25 19:39] markhuot commented on #161
This is, unfortunately, a discrepancy in the GraphQL and Craft specs/implementations. Craft allows _anything_ in the Value of an Enum but GraphQL wants a string. E.g., `setDeliveryDays:[SUN, MON]` would be ideal for GraphQL.

You're not the first person to come across this so I'd love to help. Are you able to adjust the Value column to be strings such as `MON`, `TUE`, `WED`, etc…?

[2018-09-25 21:03] markhuot commented on #137
Reopening with a good example: the default field type returns an `x`/`y` object for focal point, but it stands to reason that someone would want to override that and add additional fields to the `AssetFocalPoint` object type. That is currently impossible.

[2018-09-25 21:27] markhuot commented on #137
Okay, `dev-master` now has an event for this. The event is called `AlterSchemaFields` because naming things is hard.

You could use it like this,

[code]

This is my recommendation on how to do this. Add a _new_ field instead of trying to overwrite the existing field.

If you overwrite the existing field you'll need to also overwrite the resolver. Right now the resolver only returns `['x' =>, 'y'

[2018-09-25 21:29] markhuot commented on #132
I've been thinking about this and I think it makes sense, but I'm not sure I'd recommend taking this approach. GraphQL doesn't support what you're looking to do so anything I implemented would just be a hack on top of the base library. Instead I would recommend keeping your GQL queries as "static" as possible and doing any business logic filtering in your template or application layer (whether it'

[2018-09-25 21:29] #132 closed

[2018-09-25 23:50] timkelty commented on #137
Thanks @markhuot!

Very grateful for this – and agreed with the recommendation of not overwriting fields.

Yup, thats where I'm making them already.

[2018-09-26 02:07] narration-sd commented on #132
Hmm. I was wondering if you'd had a chance to get to this. The  step to winnow children is in there, about line 12 depending on how you count:

```    if (!in_array($child->id, [ 574, 733 ])) { // $plugin->currentHiddenids()```

but that code is unchecked, and I see now false: there's a missing step to _retrieve_ the actual children. And that's key to what I need.

Let's go back to GraphQL, where

[2018-09-26 02:54] narration-sd commented on #132
Mark, reply element 3 to your last. I wired up that PHP code just as written into an independent endpoint for element-api -- and, it works just as written.

This may bear on your thinking, The code works because in Fractal's magic, apparently, full  elements are returned when referenced from fields of a query which may itself have been restricted.

Thus though my top query restricts to level one,

[2018-09-26 03:02] narration-sd commented on #132
Above edited for clarity, if you're reading these by mail

[2018-09-26 03:02] timkelty opened #162 "Use ElementInterface for all elements"
Right now `markhuot\CraftQL\Types\ElementInterface` seems a bit anemic compared to `craft\base\ElementInterface`.

Only `markhuot\CraftQL\Types\Entry` implements, which is odd…(not other craft elements like Category, Tag).

You'd get more consistency and less duplication (e.g. all the hasDescendants/level/children stuff is in `craft\base\ElementInterface`), and it would feel more like the Craft mo

[2018-09-26 10:08] svale opened #163 "Add mutations to custom fields on Assets?"
First off; Thank you for a fantastic plugin and all the work you are putting in it! Secondly; apologies if I've missed something obvious before posting...

I've coded myself into a corner where I need to mutate a custom field (in my case an enum-field `assetState`) on an _Asset_. I suppose that would entail being able to do something like
[code]
(`SomeVolume` being a VolumeInterface implementation

[2018-09-26 12:47] lukepearce commented on #161
Thanks Mark. I changed the values to strings and it no longer errors. How does it handle single numerical values? Does GraphQL convert them to strings or is it a case of never using numerical values in Craft if you want to be able to use GraphQL to retrieve them?

[2018-09-26 13:15] narration-sd commented on #132
p.s. I suspect the reason idNot works only on the first element of arrays is that it should be 'not in ', rather than 'not', at line 128 of src/Request.php.

Too late in a long night here to wire up my fork of your source to try the fix,, but hopeful...

I'll probably have to do that to trace where to put the active part of a directive for the main problem here, yet time is fleeting, hence the hou

[2018-09-26 13:28] timkelty opened #164 "FR: option to log queries"
I'm in a situation where I'm trying to debug my API usage and would like to be able to enable logging so I can see what queries/operations are being made.

[2018-09-26 13:55] markhuot commented on #161
Yea, it's tricky. To use the canonical GraphQL example:

If you have the Star Wars API and you have a channel called "People" with a drop-down that stores "Species" you may have labels for "Human," "Droid," and "Wookiee". In GraphQL you would usually represent that as an Enum that only has three options, HUMAN, DROID, and WOOKIE. GraphQL usually represents the enum value as uppercase. You would th

[2018-09-26 13:55] #161 closed

[2018-09-27 00:57] narration-sd commented on #132
ok, this last turned out to be a little more involved, due to how a Craft helper gets involved.

Pull request is in at #165, which merged ok, looks like. There were failures in the ci, but these seem to have to do with a problem in Mutation, which hasn't been touched by it?

Thinking in any case that conversation here can revert to only the main topic, which appears to summarize now as whether and

[2018-09-27 19:36] timkelty opened #166 "Explore Apollo Engine integration"
_Just_ getting into exploring this on my end, but just wanted to throw this out there to start discussion.

It appears that certain features are available with any GraphQL server, but other (performance tracing, error tracking, and most appealing to me: Cache control) require the GraphQL server to implement a given spec.

I'm not sure if this would/should be in CraftQL's realm, or more applicable

[2018-09-28 14:40] bovasso commented on #139
Having the same issue. Text would be ideal.

[2018-09-28 14:49] markhuot commented on #139
Yup, it'll be `text` with the next release. Feel free to update your DB manually in the meantime.

[2018-09-28 17:08] jgeschwendt opened #167 "Extending CraftQL with REST resources?"
I have an SSR App setup using React/Apollo and CraftQL. I'm trying to use some of the Google API's to simplify content management without having to add another HTTP client to the App. Is there an easy way to extend the CraftQL API to use an external resource like the following?

https://maps.googleapis.com/maps/api/place/details/json?key=GAPI_KEY&placeid=PLACE_ID

[2018-09-28 18:17] markhuot commented on #167
Interesting…! There's no native way to do that _right now_ through the Craft UI. However,

1. GraphQL, recently, has begun to extend to a concept called "schema stitching" where by one GraphQL schema is _merged_ with another. This won't work for this request, though, because the Google Places API does not run GraphQL. If this was possible you would be able to interact with the two APIs like you co

[2018-09-28 19:34] jgeschwendt commented on #167
Awesome!, I'll give writing a custom Craft Module a try and reach-out if I get stuck.

I've had success using schema stitching in the past. However, for this App the budget is small and and adding infrastructure is not ideal, so extending the CraftQL API makes more sense.

For anybody looking for a solution using Schema Stitching with CraftQL it can be done fairly easily with a Node.js server (or

[2018-09-28 20:01] markhuot commented on #167
This is _awesome_ @jgeschwendt! Am I reading the above correctly that `const schema =` is a local schema built in Node and you're stitching CraftQL _in to_ that schema? If so, that's awfully darn neat.

Definitely reach out if you have any trouble with the module approach, I've done something similar a few times and I'm looking for a reason to get it documented in a README or something.

[2018-09-28 20:55] jgeschwendt commented on #167
Yup, thats exactly what's happening! The biggest setup that we've built uses a bunch of Services: Auth0, Stripe, Postmark, AWS Step Functions, S3, DynamoDB, etc. with custom-ish resolvers and stitched in CraftQL for all the content management. We love this plugin and all the hard work you've put into it!

[2018-09-28 20:57] markhuot commented on #167
Thanks @jgeschwendt! Honestly I've toyed with the idea of adding stitching _in to_ CraftQL itself. I always stop, though, because Node just seems like a much better place to collect those things. It's nice to hear that you've been able to get it working from the other side!

[2018-09-28 21:09] narration-sd commented on #167
Have to say this looks  pretty fascinating, @markhuot & @jgeschwendt .

I'm not  needing stiching at this point, if it's related to other things have built on straight Craft. But the approach for adding functionality tends to open the black box - thanks!

[2018-09-28 21:12] markhuot commented on #167
There are more and more ways to do schema stitching lately, but I was using Gatsby for it recently and it was very smooth, https://twitter.com/markhuot/status/1040688333192679424. Node (and JS) provide a really great language for all the async connections to external services.

[2018-10-03 17:26] flynn-11 opened #170 "More of a question..."
Are there any known issues or additional configuration needed when using your plugin on a Heroku instance?

[2018-10-03 20:46] jgeschwendt commented on #167
Okay, so after a little tinkering, here is where I'm at:

CustomModule.php
[code]

Graphiql Editor
<img width="1457" alt="screen shot 2018-10-03 at 4 19 09 pm" src="https://user-images.githubusercontent.com/9220949/46437079-8348b680-c728-11e8-889f-e2618e5d181b.png">

I have a few questions before finishing this up and to make sure I understand what's going on:
1. Is this code getting invoked corre

[2018-10-04 12:39] hendrikeng opened #171 "local dev `"error": "NestedLevelEnum values must be an array with value names as keys."`"
I am getting:
`"error": "NestedLevelEnum values must be an array with value names as keys."` in a local dev environment  (PHP 7.2, Laravel Valet, MariaDB) in the GraphiQl interface.

tested with different queries and the { helloWorld } query

What am i missing?

Thanks a lot

[2018-10-04 13:13] markhuot commented on #171
Unfortunately this is due to how Craft and GraphQL treat drop-down content differently. My guess is you have a field with the handle of `nestedLevel` and in that you have the value of that field set to `1`, `2`, `3`, `4`, etc… (or something like that). GraphQL needs those values to be strings.

This is a duplicate of
https://github.com/markhuot/craftql/issues/156#issuecomment-422057033 which inclu

[2018-10-04 14:06] hendrikeng commented on #171
Thanks a lot @markhuot, it does work changing the value to a string 👍

[2018-10-04 14:06] #171 closed

[2018-10-04 17:54] hendrikeng opened #172 "Feature: create/mutate users"
It would be awesome to be able to mutate/create users and their fields/customfields via craftQl.

Thanks for the awesome work 💯

[2018-10-04 21:33] swthate commented on #158
@markhuot I updated MAMP today, but am having the same issue.

@magicspon I haven't attempted any of this on a staging or live server. That is interesting.

[2018-10-04 23:44] magicspon commented on #158
@swthate yeah, t'is very odd... my colleagues have had no issues running it locally (mamp and/or homestead), just me and my laptop, and weirdly my work machine.... it makes me think, did i google a previous unrelated bug, ran a command, and had some knock on effect to apache, no idea!.. but yup, works perfectly well on digital ocean!

[2018-10-05 14:15] swthate commented on #158
@magicspon even Homestead does it for you locally? I was thinking of trying to spin one of those up today to test. I suppose I still could. Since I have such a recent Time Machine backup, I might try formatting and putting on a fresh macOS install. Start everything from scratch. I'll keep you posted if I do that.

[2018-10-06 19:02] swthate commented on #158
@markhuot and @magicspon :

I just finished upgrading to Mojave. I also upgraded from MAMP PRO 4.x to 5.x.

I wish I knew what changed or fixed it... but the sample `curl` statement now successfully returns the `helloWorld` object! Now it's on to the nitty-gritty of actually learning Vue and GraphQL!

[2018-10-08 12:34] markhuot commented on #170
There shouldn't be any issues with Heroku. If you can run Craft you should be able to run CraftQL. It doesn't use any additional resources outside of the Craft API.

[2018-10-08 12:34] markhuot commented on #170
Can you provide any errors or issues you're seeing and I may be able to help.

[2018-10-09 15:42] swthate commented on #84
I am having this same issue also. I managed to get the default curl command to return HelloWorld. So that part is working, and CraftQL is definitely installed and functioning.

Craft: 3.0.26.1
CraftQL: 1.1.0

Here is my error object from the console:
[code]

Here is my javascript in case that is causing any issue:
[code]

I was getting this same `template not found: api` error on my original devel

[2018-10-09 15:45] markhuot commented on #84
Can you confirm that the CraftQL settings have the URI set to `api`? This also feels like Craft can't find the plugin for some reason. Best bet is probably to uninstall and re-install the plugin.

[2018-10-11 08:58] gertst commented on #85
+1
A way to only see entries belonging to the logged in user would help me a lot. I can't use CraftQL now because of this limitation.

[2018-10-11 09:09] gertst commented on #89
Can we have an example on how to implement this?

[2018-10-11 12:47] markhuot commented on #85
@gertst, this is implemented over in #89 but not yet tagged in a stable release. It adds a top level `authorize` field that allows you to log in _as_ a user. Then, after logging in you're only shown entries that user has access to. I'll be working on cleaning this branch up over the next few months and getting it released.

[2018-10-13 15:45] swthate commented on #84
@markhuot this is just bizarre.

I did another Craft install from scratch. The last one I did wasn't completely from scratch as it turns out, it was using a database backup from a previous test. Anyway. New Craft install, new CraftQL install. Got the new token set up and made sure the right section was enabled inside there. But I'm still getting `error: "Template not found: api"`

I'm not sure wha

[2018-10-13 16:07] narration-sd commented on #84
@swthate  looking over your code, I suspect the problem is  that you're asking axios to do a GET instead of a POST. CraftQL defaults to allowing only POST -- you can look into config to arrange else, but in my opinion this is pretty wise for several reasons.

When you attempt a get, the internal routing the plugin arranges isn't present for that, so Craft itself doesn't know what to do with it. He

[2018-10-13 16:17] markhuot commented on #84
Thanks @narration-sd, I was just thinking the same thing.

@swthate in your script above you need `axiosCraftQL.post` instead of `.get`.

[2018-10-19 01:29] pr1ntr opened #175 "How to access entry type fields?"
Some of my Entries have fields that link to the other Entries. When I use one of these fields, Craftql does not have it in the schema. For instance, I have an entry type named `page` which should link a Page entry, `page` is not present in the schema in graphiQL. There is not even an Id available. This makes it difficult to get relationships.

Using Craft3

[2018-10-19 13:09] markhuot commented on #175
Hrm, this should _definitely_ be possible. Here's on example of how I do it,

[code]

If the above doesn't make sense can you attach an example query of what works and what doesn't work and I can help you debug it?

[2018-10-19 13:10] markhuot commented on #172
FYI, this is in progress.

[2018-10-19 13:18] markhuot commented on #167
This looks nice. I would probably have handled it very similarly.

Hrm, I like this idea. There's nothing native to GraphQL or even CraftQL but it'd be nice to add. Honestly for 90% of situations using a straight string is probably enough.

So the event you're currently using is for extending entry types, as you have it inside an `{entries{…}}` field. There's another event that allows you to add o

[2018-10-19 20:57] markhuot commented on #172
This is now on `dev-master`. If you're able to try it out you'll want to try something along these lines,

[code]

You should be able to inspect the schema via GraphiQL if you're lost. You can search by user ID and edit any default fields as well as any custom fields applied to users. The return of the field is the edited user.

Note: there are new token scopes for this. If you have existing token

[2018-10-19 23:21] pr1ntr commented on #175
I did not set up a fragment for this but here is my query, its dirty but `page` doesn't even register

[code]

[2018-10-20 11:01] markhuot commented on #175
Where does the `page` field come from, is that a field in Craft?

Guessing here: tr removing `page` and put `title` on the same level as parent.

[2018-10-20 17:50] pr1ntr commented on #175
`pag`e is a field on SitemapNode  that is a type of Structure Section called Sitemap that references another EntryType called `Page` which is a Channel Section

[2018-10-21 14:37] markhuot commented on #175
Can you send me a screen shot of this in GraphiQL? Also, can you click Docs in GraphiQL and navigate to entries » page and screen shot what that does in the documentation?

[2018-10-21 15:59] BenParizek opened #176 "CustomModuleEnum has value with invalid name"
I just ran into an issue that stumped me so posting it here in case it's worth adding to the docs or at least being found in search by someone else. It seems `devMode` needs to be set to false while working with the GraphiQL interface but I didn't see mention of this in the documentation.

I had several CraftQL queries working and then all of a sudden all queries on the backend began to fail with

[2018-10-22 13:15] markhuot commented on #176
`devMode` should not affect the ability for a schema to generate. However, when enabled, it does run `validateSchema` which ensures you have a GraphQL compliant schema. Here what I think happened:

1. You have a checkboxes, drop-down, or radio button field that has an option with a value of `" "`
2. This doesn't translate to a valid GraphQL enum so when `devMode` is enabled it yells at you
3. When

[2018-10-22 16:00] membla opened #177 "Related categories from a category query"
I have a main category that itself contains a field for sub categories. The two categories belong to different category groups. Can I use craftql to create a query that exposes all main categories, within them their sub categories, and within these the entries that are related to the respective sub category?

[2018-10-22 22:34] narration-sd commented on #176
Just had been following this from interest, and with a little thought, what you propose does make sense, Mark.

The  key would be  to  understand that this Schema-checking assert which fails in essence runs against the Craft definitions of fields and entities which use them -- the asserts are watching as CraftQL is assembling its Schema from this Craft information. And they are in play only when d

[2018-10-23 10:42] buesing commented on #80
Hey @markhuot do you have any news on this? Would love to see support for commerce.

[2018-10-23 12:54] markhuot commented on #175
And, if I'm understanding correctly the `...on PagesPage` is not returning what you would expect?

[2018-10-23 13:32] markhuot commented on #177
This is now possible. All category fields applied to entries expose two fields, the name of the field as well as the name of the field + `Connection`. E.g.,

[code]

[2018-10-23 13:33] markhuot commented on #166
I'm really liking the performance monitoring that Engine applies. And it provides native GraphQL caching too. I'm working on adding the tracing and caching extensions to CraftQL for full support.

[2018-10-23 13:34] markhuot commented on #164
I'm going to close this because, for now, I'd rather lean on existing tooling for this. Specifically, the work in #166 with Apollo Engine should support query logging.

[2018-10-23 13:34] #164 closed

[2018-10-23 13:36] timkelty commented on #164
👍

[2018-10-23 15:34] markhuot commented on #80
Nothing yet. I'm currently working on caching and Apollo Engine integration first and will loop back around to Commerce next.

[2018-10-23 17:34] tinchalamo commented on #57
I installed `1.0.0-beta.28` and the CraftQL Browser in the CP stopped working. I'm on Craft `3.0.27.1`.

[2018-10-23 17:39] markhuot commented on #57
@tinchalamo, can you provide any error logs with this? One helpful way is to go to `/api/debug` and enter `{entries{id}}` in to the query field and see if you get a more informative error message (also, make sure `devMode` is on and your schema will be validated too).

[2018-10-24 13:22] alexcarpenter opened #178 "Constant "Undefined offset: 10""
No matter what I specify in the editor, I get an error in the output.

[code]

Even when there is nothing specified in the editor, I still get the error.

**Craft CMS** v3.0.28
**CraftQL** v1.1.0

![screen shot 2018-10-24 at 9 21 59 am](https://user-images.githubusercontent.com/825855/47433372-53606200-d76e-11e8-9e3c-28188fb2e7a8.jpg)
![screen shot 2018-10-24 at 9 22 14 am](https://user-images.git

[2018-10-24 13:29] alexcarpenter commented on #178
Still getting the Undefined offset: 10.

[2018-10-24 13:49] alexcarpenter commented on #178
Issue was due to an category field that was hooked up to a category group that did not exist anymore.

[2018-10-24 13:50] markhuot commented on #178
I'm going to re-open this since I have some code related to this. Once the code is released to a stable tag I'll re-close this issue.

[2018-10-24 16:06] jgeschwendt commented on #167
Perfect, thanks for all your help. Here is a gist for anyone that wants to see an example
https://gist.github.com/jgeschwendt/6adcdacc920127ee41041aaf01df7387

[2018-10-24 16:06] #167 closed

[2018-10-24 16:19] jgeschwendt opened #179 "Replace GraphiQL with GraphQL Playground"
It would be nice to swap out the GraphQL IDE for something a little more advanced.

https://github.com/prisma/graphql-playground

[2018-10-24 16:21] markhuot commented on #179
Hrm, I've never thought of embedding the entire playground. I've been running the app standalone and it's been fine, though. Is there an advantage to embedding it over just running the app?

[2018-10-24 17:11] jgeschwendt commented on #179
I think the biggest advantage is having it available out-of-the-box inside Craft/Browser. For less technical people using the CMS and/or participating in feature planning, they tend to get confused or frustrated when an App needs to be downloaded and understood.

As a developer, it's nice to have quick access to that interface because it saves the context of that workspace in local storage offerin

[2018-10-24 20:06] markhuot opened #180 "Mutate Categories Field in Matrix"
Currently when you mutate a categories field within a matrix field it is not possible to choose an existing category because the `onSave` handler is not run for fields within a matrix block.

[2018-10-26 14:55] alexcarpenter opened #181 "Expose expiry date for mutations"
I am looking to set an expiry date when an entry is created via a mutation (postDate + 30days).

[2018-10-26 18:42] 1stevengrant commented on #176
I saw this even just running the hello world example. `'devMode' => false,` fixed it but then I did try query a particular section that uses a standard dropdown field

[2018-10-29 14:20] markhuot commented on #181
`dev-master` (on composer) now has the ability to set the `postDate` and `expiryDate` as unix timestamps. You can use it as follows,

[code]

Note: I'll leave this ticket open until this makes it in to a stable release.

[2018-10-30 00:02] jsunsawyer opened #183 "Scopes column limit is too small and returns error when saving settings"
Changing scopes type to LONGTEXT resolves issue.

[2018-10-30 13:06] markhuot commented on #183
Updated to `text()` on `dev-master`. Once I get a stable release out I'll write a migration for this change too. Leaving open until that release is cut.

https://github.com/markhuot/craftql/blob/master/src/migrations/Install.php#L19

[2018-10-30 17:49] jonnyasmar commented on #113
@markhuot Curious: what's preventing this from getting merged into master? I just installed the `batch-queries-defer` branch and everything -- on the surface -- seems to be working as expected.

I'm performing no mutations, but I have some complex queries including nested entryConnections.

[2018-10-30 18:52] jonnyasmar commented on #113
Oh, that sounds like a very welcome enhancement!!

If it delays you at all from getting that released, please continue to defer. I'm more than happy to wait for speed improvements :)

[2018-10-31 00:53] edolyne commented on #86
@timkelty Wanted to bump this one as the Neo plugin has been released for Craft 3.

[2018-10-31 16:36] jgeschwendt opened #185 "Permissions for "Globals" mutations"
Whenever I add a Globals entry to Craft CraftQL creates an upsert mutation with no way to disable it.

![screen shot 2018-10-31 at 12 29 23 pm](https://user-images.githubusercontent.com/9220949/47803465-f08c3f00-dd08-11e8-84ca-c730e5fc22ec.png)

![screen shot 2018-10-31 at 12 28 38 pm](https://user-images.githubusercontent.com/9220949/47803468-f2ee9900-dd08-11e8-89b4-4a8a6bce4a7e.png)

[2018-10-31 22:52] pr1ntr commented on #175
That is correct, I think it has to do with this:
![image](https://user-images.githubusercontent.com/1272089/47823248-c99c3000-dd3d-11e8-8bed-dca212ad75e6.png)

page is SitemapNode appears to be an [Int] which makes me think its just an ID. The query above does not work probably because the inline fragment would require me to not filter by SitemapNode.

What I expected was to have `page` be filled

[2018-10-31 22:57] pr1ntr commented on #175
I am able to query the correct Data here:
![image](https://user-images.githubusercontent.com/1272089/47823440-b473d100-dd3e-11e8-8303-143886ec26f6.png)

however if i query these things separately the sitemapnodes have not even a queriable ID of their attached pages so I couldn't figure out how to connect the page to the sitemapnode.

[2018-11-01 00:06] markhuot commented on #185
That is an oversight. I'll get a scope added for this.

[2018-11-01 00:09] markhuot commented on #175
Thanks, can you take a screen shot of the `page` field config within the Craft UI so I can see how it's structured?

[2018-11-02 17:32] tinchalamo commented on #57
Looks like it's working again after update to Craft `3.0.29`.

[2018-11-02 19:15] pr1ntr commented on #175
This is what it looks like.

![image](https://user-images.githubusercontent.com/1272089/47935818-156fe600-deb2-11e8-82fa-b7e95b334e2b.png)

[2018-11-02 19:20] pr1ntr commented on #175
This is the entry type
![image](https://user-images.githubusercontent.com/1272089/47936033-d3936f80-deb2-11e8-83d4-2787e83a3002.png)

[2018-11-03 04:39] membla commented on #150
@timkelty Did you manage to make any significant improvements to response time, either through one of Marks other branches or a fork of your own? I too feel like I need to implement some sort of response caching... my heavy queries will have very static, cache-friendly responses so would love to implement some sort of server level caching for these. Not sure what would be the best approach though.

[2018-11-03 14:53] timkelty commented on #150
@membla I did hack in some very basic response caching here: https://github.com/markhuot/craftql/compare/master...timkelty:dlr2018

I'm using it in production right now, purely out of necessity. It's super-hacky, so be forewarned. It is meant to be temporary.

It also listens for a `Surrogate-Key` header in the requests, and will tag the cache with that. That way you can listen on entry save, or w

[2018-11-03 22:38] khalwat commented on #134
This is high on my list as per https://github.com/nystudio107/craft-seomatic/issues/247

[2018-11-07 01:31] j2is commented on #172
Question: Is it possible to mutate/create matrix blocks and elements in general?

[2018-11-07 02:11] markhuot commented on #172
@j2is, can you open a new issue if you still have questions on mutating matrix blocks. It is possible and you should be able to infer the schema from GraphiQL. If you have questions though I'm happy to walk through some sample queries in a new ticket.

[2018-11-07 10:04] j2is opened #186 "Queries to delete/disable fields"
Could you share some example queries on how you would go about deleting or disabling single fields or fields within a matrix block?

[2018-11-07 17:52] membla commented on #150
Tim's solution is functional in my setup too.
@markhuot Do you reckon some sort of response caching would make it to a release for the foreseeable future?

[2018-11-07 22:09] pr1ntr commented on #175
bingo, that did it! Thanks so much

[2018-11-07 22:09] #175 closed

[2018-11-08 20:42] chrisrowe commented on #89
+1 for this. I'm holding off on until https://github.com/markhuot/craftql/pull/103 closes out

[2018-11-09 06:39] Hyra opened #187 "Searching on child properties"
Heya,

I'm trying to figure out how you can search on child properties. I've seen the 'search' param, which works fine when the subfield is just text. But if it's a nested object like a list or entries I can't seem to figure out how to limit the results.

My current query:

<img width="723" alt="query" src="https://user-images.githubusercontent.com/380836/48247121-70459800-e3f2-11e8-810b-e161a6d45

[2018-11-09 09:55] markhuot commented on #187
You should be able to use `search:` the same way you would in a `.twig` template. So the following _should_ work,

[code]

[2018-11-09 12:50] Hyra commented on #187
Hmm, I did try that, but when I do it gives me zero results.

Without search parameter:

<img width="1350" alt="screenshot 2018-11-09 13 49 33" src="https://user-images.githubusercontent.com/380836/48263417-5625ad00-e426-11e8-9c32-fb582f75af04.png">

With search:

<img width="1355" alt="screenshot 2018-11-09 13 50 15" src="https://user-images.githubusercontent.com/380836/48263442-689fe680-e426-11e

[2018-11-10 08:49] Hyra commented on #187
Could it be because the data is inside a nested structure? searching on top level properties works fine, but the id i'm searching for is inside the 'voordeelCategorie'  structure.

[2018-11-10 10:56] narrishinsd commented on #187
@Hyra , it seems likely, since I think your query only identifies the top level of voordeelCatagorie.

To query deeper, you need recursion. In GraphQL that’s done manually – there’s  no recursive ability.

So here’s copy-paste of an example of something similar for entries with Structure children. Fragments allow constructing the depth. It's very late, so apologies for the over-complication.

The

[2018-11-10 10:58] narration-sd commented on #187
@Hyra , it seems likely, since I think your query only identifies the top level of voordeelCatagorie.

To query deeper, you need recursion. In GraphQL that’s done manually – there’s  no recursive ability, by intention.

So here’s copy-paste of an example of something similar for entries with Structure children. Fragments allow constructing the depth. It's very late, so apologies for the over-compl

[2018-11-10 20:51] narration-sd commented on #187
Hmm. i may have given you a wrong steer...and in any case, this is going to take @markhuot having a further look, I think.

I hadn't used `search:` before, so constructed a model and tried things -- see the image.

But:
- I couldn't get `search:` to find on any field, not even titles; just got nothing selected whatever I tried, including quotings, using a query variable rather than inline, etc..
-

[2018-11-10 20:56] narration-sd commented on #187
sorry for bad habit  of editing  after posting -- the result should be a bit clearer when you read it on Github...

[2018-11-11 04:41] Hyra commented on #187
Not a problem. Really "happy" I'm not the only one, as I ran out of clues.

Following up on your last example, you probably get autocompletion on "dealCategory" inside the entries parameters, which would indicate one can query against it. Just not sure what the value would be. "14" in your case would make sense, but it will probably not return any results.

[2018-11-14 09:59] dineufeld opened #188 "Entries by category slug"
Thanks for great plugin!

In my project I have to query blog entries through slug that come from the URL. Currently i' am using relatedTo by the ID that come from another query. How can I query with the slug instead of with the ID?

[code]

[2018-11-14 18:24] markhuot commented on #188
Yup, this should be possible. The best way to think about is "what do I know" then "what do I want." Because you know the category you'll want to start with one of the category fields, probably `categoriesConnection`. From there you can get `relatedEntries` and filter those as necessary. Maybe something like this (guessing on the field names, you'll have to validate this),

[code]

[2018-11-15 14:56] Hyra commented on #187
My problem with this accidentally got solved by issue #188 :)

I can now query for entries which have a specific category:

[code]

Question remains how one would do this when you want to query on a value inside a Matrix field for instance, but for now I got this one solved!

[2018-11-15 14:56] #187 closed

[2018-11-16 20:33] narration-sd commented on #187
@Hyra  Stef, had no time until a few moments today, but interested. I see the route you took, and I guess it's a thing to learn about how to think about GraphQl.

I went back and looked at how the search should work  -- it does. So this is another way of specifying which category you are interested in. No doubt the slug query is more efficient, vs. convenience.

Then an example is attached, also w

[2018-11-19 07:19] ejshieh opened #189 "Feature: Mutate Video Field in Entry"
Hi @markhuot - thanks for this great plugin.

I noticed that there seems to be a [listener](https://github.com/markhuot/craftql/blob/45a07390c81b787982e51acdd458351f1ffe9472/src/Listeners/GetVideosFieldSchema.php) for [Dukt videos](https://github.com/dukt/videos) but I can't seem to get upserts / mutations working for video field types. I get a response like this when experimenting on GraphiQL:

`

[2018-11-19 14:08] markhuot commented on #189
Doesn't look like I have mutations working for videos yet. It shouldn't be difficult to add. Let me see what I can do.

In the meantime, can you please post what you would _expect_ to set the field to? E.g., would it be a video URL or a file upload?

[2018-11-20 00:49] ejshieh commented on #189
Thanks @markhuot !

Yes, I would expect the input to be a video URL which is what is accepted for manual mutation of the field:

![dukt_video_example](https://user-images.githubusercontent.com/36354779/48744187-0bbce100-ec1b-11e8-9739-47463c5b8139.PNG)

[2018-11-24 20:45] alexhillel opened #190 "Specifying a minimum number of entries per entry type in entriesConnection / relatedEntries query"
I'm new to GraphQL and am enjoying working with your plugin. However, I'm a little unsure if I'm missing something with how I'm approaching related content.

I have an Entry Type which contains relations with a number of different Entry Types. I'd like to be able to use one query to fetch the 5 most recent related entries of Related Entry Type 1, the 6 most recent related entries of Related Entry

[2018-11-24 21:11] narration-sd commented on #190
@alexhillel  Wonder if you've considered that unlike element-api, a single GraphQL query can contain multiple element results (of any type or kind; don't have to be actually in relation to some 'main' query at all).

Thus you could arrange each of your related types to return on a distinct alias within the main query, each with a limit 5. Your  Vue side could combine those results as you want...

[2018-11-24 22:09] alexhillel commented on #190
Perfect. Thank you @narration-sd!

[2018-11-24 22:09] #190 closed

[2018-11-28 19:13] studiosyntax opened #191 "Slicing of returned data not working"
First of all, thanks for this plugin! I'm new to GraphQL but I love this Craft implementation.

It would be nice to be able to specify a limit on returned results per field, i.e only return the first (two).

For example, I have an Assets field `productImages` which can contain multiple images, but I only want the first one returned.

An example in the GraphQL doc states you can do `slicing` with a

[2018-11-29 12:44] roelvanhintum opened #192 "Please release completed features."
First of all, awesome plugin!!!

Some of the new features, like handling color fields, work fine. Is it possible to release completed features? Right now i'm using dev-master (which scares me).

[2018-11-30 11:12] peterhicks commented on #192
I'd like to second this – I'm using https://github.com/markhuot/craftql/issues/119 in my codebase, and I'm also not keen to leave a client pinned on dev-master.

[2018-11-30 14:17] markhuot commented on #192
Thanks for he nudge! I have one PR and a small tweak/issue I want to fix and then I’ll cut a release. Should be next week some time.

[2018-11-30 16:24] nelhop opened #194 "URL /api not found (Error 404)"
I am running craft 3 in a nanobox docker locally. It is available at `http://mysite.local`.

The `{helloWorld}` query in the CraftQL fails with a HTML 404 error:
![404](https://user-images.githubusercontent.com/1862955/49301240-721bec00-f4c4-11e8-9022-39dcf7a96f90.png)

Same problem with curl: `curl -H "Authorization: bearer xxx" -H "Content-type: application/json" -d '{"query":"{ helloWorld }"}'

[2018-11-30 16:31] markhuot commented on #194
Can you access any of Craft's routes? E.g., is the control panel located at `/admin` or `/index.php/admin`?

You might want to try `/index.php/api` and see if that makes a difference. The most common cause of this issue is the `mod_rewrite` not working under Apache.

[2018-11-30 17:14] nelhop commented on #194
Thanks for the hint!

I accessed front- and backend at `http://mysite.local/web/`.
After updating the `document_root` to `backend/web` it works just fine.

[2018-12-02 15:52] u12206050 opened #195 "Could not find an entry with id X"
My upsert Mutation doesn't seem to want to create a new entry only update.

[code]

Al I get in return is an error:
[code]

When calling it via curl I get:

[code]

Any ideas?

[2018-12-02 15:56] u12206050 opened #196 "Feature request: Support for Forms"
Since we are building a headless website it would be nice to be able to retrieve form fields for example from Wheel Forms.

I don't know if this is possible since wheel forms doesn't build on entries but would be awesome if it were somehow supported.

Let me know if there is some other way I could make this work.

[2018-12-02 19:39] u12206050 commented on #195
So I think I might have "solved" this: upsert can only create a new element if you don't specify an **id**, if you do specify the **id** then it means it is an update.

This means you can not insert a new element with a specific id.

[2018-12-02 19:39] #195 closed

[2018-12-03 23:19] mrjacobfisher commented on #149
I'm interested in whether this is planned for a release. It would really simplify some things I'm currently working on over the coming weeks and I'd be curious to know about progress.

[2018-12-04 09:52] j2is opened #197 "Support for Imager"
Not sure about feasability but it would be awesome to be able to be able to use Imager transforms so that Web P images can be used

[2018-12-04 21:19] #194 closed

[2018-12-04 21:51] markhuot commented on #186
The following should work for you, if you're still looking,

[code]

[2018-12-04 22:07] #186 closed

[2018-12-04 22:15] markhuot commented on #179
I'm not ready to make this jump _just_ yet. I've been using Playground myself for some time and while I like 90% of it I think it's conceptually more difficult to wrap your head around for beginners. Also, I find the schema browser of Playground more confusing and harder to interact with. E.g., browsing field attributes is much more difficult in Playground.

I'm open to the idea of making this a c

[2018-12-04 22:15] #179 closed

[2018-12-04 22:16] markhuot commented on #192
LOL, marking this as "waiting for release" so I can close the ticket after I cut the release in the next few days.

[2018-12-05 14:18] markhuot commented on #195
Unfortunately, that is correct. Sorry for any confusion this caused.

[2018-12-06 10:44] mashema commented on #149
Same here, I'm also waiting, do you have a release date?

[2018-12-06 13:14] u12206050 opened #198 ""at"include directive Support"
Any updates on when the "at"include directive will be supported?

[2018-12-06 15:06] jgeschwendt commented on #95
This has fallen outside of the scope of our craft projects and the tooling around the idea has changed quite a bit. If the need arises I’ll get something working and report it back here.

[2018-12-06 15:06] #95 closed

[2018-12-06 15:40] markhuot commented on #95
Thanks for the update @jgeschwendt.

[2018-12-07 15:37] Hyra opened #199 "Ability to add parent to mutation"
When adding an item through a mutation it's only possible to add these native fields:

[code]

But not other fields such as 'publish date', 'status' or 'parent'

Is there a way to add these fields when upserting an item?

[2018-12-10 13:09] u12206050 commented on #199
In addition...
I really need to be able to mutate the structure articles, meaning I need to define which parent this article should be placed beneath.

[code]

[2018-12-10 14:59] markhuot commented on #198
This was an oversight, I'll get these added back in.

[2018-12-10 15:18] markhuot commented on #199
These changes will make it in to the next release, a few notes though,

1. Instead of `publish date` try `postDate` and see if that gets you what you're looking for
2. `status` is a read-only (computed) field based on the `enabled` flag and the `postDate` check. You can't actually _set_ the status
3. `parent` will be implemented with the new `parentId:` attribute since that's how it is referred to

[2018-12-10 15:49] u12206050 commented on #199
@markhuot Thanks for the update, I see the slug attribute in the commit code but not the parentId, I need it quite urgently and have tried to add it via the EntryMutationArguments.php but it doesn't seem to take affect. Any help or reference to the commit is highly appreciated thanks.

[2018-12-10 15:57] markhuot commented on #199
I forgot to add `#199` in to my commit message for the `parentId:` attribute. Here is the code change that will go out with the next release,

https://github.com/markhuot/craftql/commit/c9ee811c0277859ef970a97006e8e9e375b7d89b

[2018-12-11 19:05] jan-thoma commented on #157
Don't really know if it's related to craftql or redactor. The following situation:

I have multiple sites e.g.

[code]

and make a query like this from "example.com/":

[code]

I get back the english url in the richtextfield and vice versa if i send the request over "example.com/de"

[2018-12-11 19:07] markhuot commented on #157
Odd, I'm doing the same on a site and I see the correct language returned. Let me dig a little deeper and get back to you. Re-opening the ticket so the conversation doesn't get lost in the shuffle.

[2018-12-11 19:22] jan-thoma commented on #157
This only applies to the hyperlink url the rest of the text is returned in the correct locale.

[2018-12-11 22:41] u12206050 commented on #89
I have created a PR into user-tokens to support individual entry type permissions.
#200

[2018-12-13 15:06] bjrnblm opened #201 "Unable to query dateUpdated field in entries"
Hi, I would like to query on `dateUpdated` field the same as `postDate` field.

It looks like it is a queryable field in twig:
https://docs.craftcms.com/v3/dev/element-queries/entry-queries.html#dateupdated

For example:
[code]

Gives:
[code]

However:
[code]

Gives:
[code]

[2018-12-14 21:34] BenParizek commented on #144
@markhuot @woro83c Is the above example supposed to be a working example? I've downloaded the latest release with these updates but am not having luck getting a similar query working.

[2018-12-14 21:51] woro83c commented on #144
hey @BenParizek - give something like this a try:

[code]

[2018-12-14 21:53] BenParizek commented on #144
Awesome @woro83c! That gets me rolling again.

[2018-12-15 04:30] bianpratama commented on #86
@markhuot is there any plan for this feature request?

[2018-12-17 15:37] dsteinel commented on #201
@bjrnblm I am able to query the dateUpdated on my entry like this:
[code]

As a result I receive a timestamp like `1545059774`.
I am very new to GraphQL and I am sorry I can not provide you with a real answer, but I can tell that it is possible ಠ_ಠ

[2018-12-17 15:55] bjrnblm commented on #201
@dsteinel Thanks for replying, it is indeed possible to get the `dateUpdated` in the GraphQL results as a timestamp.

However I also want to be able to do calculations in the query for `dateUpdated` so i can filter the resuts:

[code]
This is not possible for `dateUpdated` but works fine for `postDate`:

[code]

[2018-12-17 16:06] dsteinel commented on #201
@bjrnblm ah now i got it. Yes that seems to be not possible.
It feels like it is just missing as an argument in the `EntryQueryArguments.php` file.

[2018-12-17 16:33] markhuot opened #202 "Can not filter entries field"
Entries fields do not currently accept any query arguments.

[2018-12-17 16:50] markhuot commented on #201
Hi @bjrnblm! Good catch, this is an oversight. I'll get a release tagged with this fix.

[2018-12-18 17:48] alexhillel opened #203 "Pagination on nested connection"
Is it possible to use the parameters passed into a query to use in a nested connection object representing an entries field?

In the following example, `projectIndexEntries` is an entries field which can contain many entries, and I'd like to receive a pagination object to determine whether to show a load more button.

[code]

However, when I try this it errors saying 'GraphQL error: Unknown argume

[2018-12-18 18:58] markhuot commented on #203
I need to add entry query arguments to the entries `Connection` fields. This is related to but not solved by https://github.com/markhuot/craftql/issues/202. I'll keep this open and let you know when this is fixed.

[2018-12-18 19:21] alexhillel commented on #203
Great, thanks Mark. I appreciate your work on making this plugin even better.

[2018-12-18 21:07] alexhillel commented on #202
I'm seeing issues with `relatedTo` as a query argument:

[code]

Results in a "GraphQL error: Internal server error".

[2018-12-19 09:01] u12206050 opened #204 "Add support for leveler"
Basically instead of:

[code]

We can do:

[code]

which will output:

[code]

Details:
https://www.fourkitchens.com/blog/development/graphql-leveler-controlling-shape-query/

[2018-12-21 08:52] seamofreality opened #205 "Create pages for category and each site"
I am currently using the plugin with gatsby, so we create a page for every category. Since we work with multilanguage we have multiple sites. The categories are translated for each of those sites, but we can't seem to get them similar to the entries via alternateEntries, so we currently have this query:

[code]

[2018-12-24 09:13] #192 closed

[2018-12-24 15:56] dnplkndll commented on #80
We could really use commerce product support as well. We would be able to just load new products and update the qty in stock from the api calls then correct?

[2019-01-07 18:25] jdsimcoe opened #206 "Trouble looping over MatrixFields in a Gatsby page template"
First of all, @markhuot I would like to thank you for this incredible plugin and your work supporting the community! Also, second let me state that I a newcomer to React/Gatsby, so I realize my problems are probably a result of "I don't know what the heck I'm doing!"

I'm building a Gatsby site that pulls in data from CraftQL. I have a large Struction section in Craft that holds all of the main pa

[2019-01-07 18:35] jdsimcoe commented on #206
For more context, here is my full `page.js`: https://gist.github.com/jdsimcoe/248d3b54524061f82bb3f518d82236cb.

Here is what it renders in the browser:

![image](https://user-images.githubusercontent.com/275617/50786263-de2e0480-1267-11e9-8b5b-d86293f7511f.png)

[2019-01-07 20:35] jlengstorf commented on #206
One approach would be to use the `__typename` field to do something like this:

[code]

That would apply all fields of `section` as props to the given component. This is maybe a messy approach, so you could also do a kind of `getMastheadComponent(section)` helper to more explicitly map the values to props, which would help with future maintenance.

Hope that helps!

[2019-01-07 20:37] jdsimcoe commented on #206
This looks great @jlengstorf I will give this a try!

[2019-01-11 01:18] pr1ntr commented on #86
This would be huge for our project

[2019-01-11 09:52] simonfranzen opened #207 "Question: does the plugin work with CraftCommerce?"
Hey, I was pretty exited to see that craftCMS has a graphql adapter. We are wondering if the adapter also works for CraftCommerce.

And if not: how to implement more queries and mutations for CraftCommerce or other third party plugins?

Thanks for the response!

Great work!

[2019-01-11 14:18] markhuot commented on #207
Hi Simon. Sorry, as of right now the plugin does not support Craft Commerce but it is _very_ high on my list of additions.

[2019-01-11 15:30] simonfranzen commented on #207
Thank you for the fast response. I didnt read the section **Third-pary Field Support** . So to answer my second question by myself: It's possible to extend the graphql API

Thank you @markhuot

[2019-01-15 19:29] #206 closed, assigned to nobody

[2019-01-15 19:30] markhuot commented on #205
Hrm, interesting, I like the idea of using the `categoryConnection` to add in `alternateCategories` or something like that which would return the translations of each category. I'll look at getting something like this added in.

[2019-01-15 19:39] markhuot commented on #86
Working on this over here, https://github.com/spicywebau/craft-neo/issues/173

[2019-01-15 21:46] markhuot commented on #205
Looking in to this more Craft itself actually doesn't support a cleaner way of doing this. I explored the following,

[code]

But with all these approaches you end up with a N+1 issue where each alternate requires an entirely new entry query with a explicit `siteId` passed in.

Do you have an idea of how you would do this in Twig if this were a standard Craft page? I couldn't think of a way.

All

[2019-01-15 21:48] markhuot commented on #115
Closing this issue. The fix is included in version 1.2.1.

[2019-01-15 21:48] #115 closed

[2019-01-15 21:49] markhuot commented on #116
Closing this issue. The fix is included in version 1.2.1.

[2019-01-15 21:49] #116 closed

[2019-01-15 21:49] markhuot commented on #119
Closing this issue. The fix is included in version 1.2.1.

[2019-01-15 21:49] #119 closed

[2019-01-15 21:49] markhuot commented on #120
Closing this issue. The fix is included in version 1.2.1.

[2019-01-15 21:49] #120 closed

[2019-01-15 21:49] markhuot commented on #123
Closing this issue. The fix is included in version 1.2.1.

[2019-01-15 21:49] #123 closed

[2019-01-15 21:50] markhuot commented on #129
Closing this issue. The fix is included in version 1.2.1.

[2019-01-15 21:50] #129 closed

[2019-01-15 21:51] markhuot commented on #134
`\markhuot\CraftQL\Events\AlterQuerySchema::EVENT` is now included in version 1.2.1, I'm going to close this issue although there is still a good amount of work going in to the 2.x branch that will improve this even more.

[2019-01-15 21:51] #134 closed

[2019-01-15 21:51] markhuot commented on #144
Closing this issue. The fix is included in version 1.2.1.

[2019-01-15 21:52] markhuot commented on #149
Closing this issue. The fix is included in version 1.2.1.

[2019-01-15 21:52] #149 closed

[2019-01-15 21:52] markhuot commented on #172
Closing this issue. The fix is included in version 1.2.1.

[2019-01-15 21:52] #172 closed

[2019-01-15 21:52] markhuot commented on #177
Closing this issue. The fix is included in version 1.2.1.

[2019-01-15 21:52] #177 closed

[2019-01-15 21:54] #170 closed, assigned to nobody

[2019-01-16 13:18] BenParizek commented on #144
@markhuot It may be nice to add an example of multiple relationships like this to the docs. It may be obvious to some, but took me a longer than I'd like to admit to make the connection to the more complex syntax.

It's always helpful to have a simple example to get started with and prove things work and a complex example that helps see all the different patterns that we could consider using.

[2019-01-16 14:09] markhuot commented on #144
I'll re-open until I get the docs updated. Good idea.

[2019-01-17 02:24] pr1ntr opened #208 "Drafts do not reflect change in entriesConnections but do in draft"
I have an Entry called `Page` which has a field called `components` components is an entries field with relationship to various components.
![image](https://user-images.githubusercontent.com/1272089/51291029-996a4200-19ba-11e9-86e5-b40be7cabf87.png)

So the following query:
[code]

return what one would expect:
[code]

So now I create a draft and change thins around, add more components:
![image](

[2019-01-17 20:03] mashema commented on #10
Hi Mark, wath is the timeframe, for implementing Persisted Queries

[2019-01-17 20:04] mashema commented on #10
Apollo approche
Automatic Persisted Queries (APQ)
https://www.apollographql.com/docs/references/engine-proxy.html#automatic-persisted-queries

[2019-01-18 16:28] jariz opened #209 "Localize date decorator"
Currently dates are always returned in English (or perhaps whatever the server default is?)
It'd be really great if dates returned would be returned in either the same language as the site where the entry comes from, or if you could at least manually specify a language through an extra argument.

[2019-01-18 16:35] markhuot commented on #209
That makes sense. Could you please provide a GraphQL snippet showing how you are currently using the `@date` directive where it doesn't work?

[2019-01-18 16:41] jariz commented on #209
My site language:

![](https://jari.lol/zt3dG6zhft.png)

Query:

[code]

[code]

Expected output: (date format should match site's locale)

[code]

[2019-01-18 17:02] jariz commented on #209
Seems to work as expected:

![](https://jari.lol/wqtbbNeiI9.png)

[2019-01-18 20:15] michaelfromtheoutfit opened #210 "Error: Undefined offset: 9"
Hey Mark!

**Craft Version: 3.1.1**
**CraftQl Version: 1.2.1**

Running into an issue that I believe surfaced after I added tags to my build. Suddenly all of my queries are returning:

`
{
  "error": "Undefined offset: 9"
}
`

I went over to the `api/debug` endpoint you mentioned in another post and this is what I am getting:

[code]

Thanks in advance for any assistance and thanks for an another

[2019-01-18 20:58] markhuot commented on #210
Ah, yea, this is because you have a field pointing to a tag group that doesn't exist any more. It's a weird thing about Craft. If you have a tag field pointing to group 9 and then you delete group 9 the field isn't updated. It's still pointing to 9. I'll get a workaround in there for this.

[2019-01-18 21:02] michaelfromtheoutfit commented on #210
I thought it might be something like this (because there was a similar request that had to do with categories) but I've only created one tag group and haven't removed any.

If I look at the db directly in craft_taggroups, there is just the one with the autoincrement id field set to 1. So I'm not sure exactly where the 9 is coming from.

Weird, right?

[2019-01-18 21:03] markhuot commented on #210
Is there any way you can share a DB with me so I can take a peek? If not I'll see if I can recreate this on my own.

[2019-01-18 21:08] michaelfromtheoutfit commented on #210
Ah, I don't think I can share the full DB but I could share specific tables if that would be helpful. All of the content/entry/tags tables are just placeholder content at this point. If there's a list of tables you'd like to look at, just shoot me a message with that and where you'd like me to send the mysqldump.

[2019-01-20 02:06] LeeCampbellr opened #211 "Could not find possible implementing types for VolumeInterface in schema"
I'm having an issue with the plugin running 1.2.1 - logged into my Craft install today and the CraftQL query plugin has this error:

`{
  "error": "Could not find possible implementing types for VolumeInterface in schema. Check that schema.types is defined and is an array of all possible types in the schema."
}`

Opened the Craft Debug panel and this error is in there:

`
Category: GraphQL\Error\I

[2019-01-22 03:57] superstar1025 opened #212 "Doesn't fetch categories data in Matrix field with craftql after update latest version"
I have added categories in Matrix field so when I use craftcms version 3.0, craftql is working as well.
but I updated craftcms with latest version 3.1.3 today by the way I can't fetch categories data in Matrix field using craftql.
This is submenu Matrix field:
![screen shot 2019-01-21 at 9 51 41 pm](https://user-images.githubusercontent.com/44493957/51511498-22bcb280-1dc7-11e9-9f39-71deee1a929c.pn

[2019-01-22 09:10] dsteinel opened #213 "Can not query the Category field in entry"
It seems like I can not access a category field from CraftQL when I assign it to an entry.

What I did:
* I added to an **Entry Type** a field of type **Category** (handle: "articleCategory")
* I added some categories
* From an entry I chose a category
* The handle "articleCategory" does not show in the documentation explorer

Except for this, all queries work. Also when I assign another type to m

[2019-01-22 12:05] dsteinel commented on #213
Seems to be duplicate of #212

[2019-01-22 17:32] danireginatto commented on #178
I have the same problem and I can not solve it.
Is there any way to correct / identify, even manually?

[2019-01-22 21:30] markhuot commented on #209
This is available on the `dev-master` branch and will go out with the next release.  Note there are two updates here,

1. All `@date(as:` formatting should now use the locale of the entry that is being formatted
2. If you want to override this you can pass in a locale such as `@date(as: "j F Y", locale: "nl")`

[2019-01-22 23:11] markhuot commented on #210
Sorry, I figured out the issue here. It's a result of a Craft 3.1 change to use `uid` instead of `id`. I have a fix on `dev-master` and after some testing will get it released to a stable version.

[2019-01-22 23:32] gusnips commented on #213
+1

[2019-01-22 23:33] gusnips commented on #212
+1

[2019-01-22 23:38] danireginatto commented on #212
+1

[2019-01-22 23:39] danireginatto commented on #213
+1

[2019-01-23 01:03] superstar1025 commented on #212
Before CraftCMS update, It fetched category data with craftql query.
![screen shot 2019-01-23 at 2 02 51 am](https://user-images.githubusercontent.com/44493957/51575606-08600300-1eb3-11e9-8bda-3d693f798224.png)
This is screen when it is working as well.

[2019-01-23 02:38] LeeCampbellr commented on #212
+1

[2019-01-23 12:40] jariz commented on #209
Great, thanks @markhuot !

[2019-01-23 13:01] danireginatto opened #214 "{ "error": "Undefined offset: 515" }"
My CraftQL died on version 3.1.3.
CraftQL version 1.2.1

Have you a prevision about new release for correction on this problem?

[2019-01-23 13:44] michaelfromtheoutfit commented on #210
Thanks so much @markhuot! Really appreciate the help.

[2019-01-23 14:43] markhuot commented on #214
Duplicate of #210. I'll get a stable release cut shortly to resolve this.

[2019-01-23 14:43] #214 closed

[2019-01-23 14:44] markhuot commented on #212
This is a duplicate of #210. I'll get a stable release cut shortly to address this.

[2019-01-23 14:44] #212 closed

[2019-01-23 14:48] markhuot commented on #213
Is this on Craft 3.1.x?

If so then it is indeed a duplicate of #212 and, more specifically, #210, which I'm using to track the fix. I have an update on `dev-master` that I'm testing and will get a release cut for. I'm going to close this ticket for now. However, if anyone is having this issue on 3.0.x please re-open and let me know.

[2019-01-23 14:48] #213 closed

[2019-01-23 14:50] dsteinel commented on #213
Thanks @markhuot && yes, it is on Craft 3.1.x

[2019-01-23 16:14] danireginatto commented on #213
Can we help in any way?

Daniel Reginatto
daniel@reginatto.com

[2019-01-23 16:15] markhuot commented on #213
If you're able to update your `composer.json` to point to `dev-master` and confirm categories are now working that would be helpful.

[2019-01-23 16:50] danireginatto commented on #213
I found an error in the author field only, relative to the photo field.

Daniel Reginatto
daniel@reginatto.com

[2019-01-28 17:34] dannyryanuk opened #215 "GraphiQL - "Unable to verify your data submission.""
I can't seem to get any feedback or documentation on GraphiQL. I have had it running before on older versions of Craft in the same environment.

When I load it up the Query result section reads:
`{
  "error": "Unable to verify your data submission."
}`

And the Document Explorer reads:
`No schema available`.

The browser console is giving the error :
`POST http://example.com/admin/craftql/browse/e

[2019-01-29 03:41] NateAtNTS opened #216 "After Craft Update, CraftQL won't work"
I just updated to 3.0.38, and now CraftQL won’t work. The GraphiQL says `{  "error": "Getting unknown property: craft\\volumes\\Local::uid" }` when I try to run a query.  How do I fix? I tried to uninstall the plugin and reinstall it, and it still won't work.

[2019-01-29 11:04] roelvanhintum commented on #73
It worked fine until the Craft 3.1 update.

[code]
results in
[code]

Craft 3.1.5
SEO 3.5.4
CraftQL 1.3.0

[2019-01-29 14:03] NateAtNTS commented on #216
Upgrading to Craft 3.1 fixed the issue.  I have been hesitant to upgrade to 3.1 because of the issues.

[2019-01-29 14:03] #216 closed

[2019-01-29 14:05] brandonkelly opened #217 "CraftQL 1.3.0 causing errors on Craft 3.0.x"
v1.3.0 is referencing Local volumes’ `uid` property, which wasn’t available until Craft 3.1.0.

You may want to re-tag `1.3.0` with the `craftcms/cms` requirement in composer.json changed to `^3.1.0`, so people still running Craft 3.0.x aren’t able to update to it.

[2019-01-29 14:21] markhuot commented on #217
Ah, yup, thanks for that. I'll make this change.

[2019-01-29 15:28] markhuot commented on #217
Release 1.3.1 should fix this issue. Instead of bumping the version I just added checks around my usage of `->uid`.

Separately I'm working on 1.4.x which will be Craft 3.1.x dependent. But this was an easy workaround to keep 3.0.x working for the time being.

[2019-01-29 15:28] #217 closed

[2019-01-31 00:26] pr1ntr opened #218 "Redactor - If redactor field is empty in (uninitialized) in the entry then query fails to provide content"
If I make the Entry and leave redactor field blank and save it.
Then use the following query.

[code]
then the result will be
`redactorField: null`

I think the behavior should be:

`redactorField: { content: null }`

[2019-02-04 17:43] swthate opened #219 ""error": "SystemTypeEnum has value with invalid name: \"32bit\"..."
**Running any query, including the simple `{ helloWorld }`, returns the following error:**

[code]

**devMode** true
**Craft** 3.1.7 (pro trial)
**CraftQL** 1.3.1 (trial)
**PHP** 7.2.14 (I'm using Homestead which defaults to 7.3.x. I changed the current dev site to use 7.2 because I have seen others have unrelated issues with 7.3 and was hoping that'd be a simple fix, but the error persists across

[2019-02-04 17:50] markhuot commented on #219
You probably have a drop-down field that has `32bit` as the value of one of the options. This is invalid in GraphQL so that's why you're getting the error. Is it possible to update `32bit` to be something else?

[2019-02-04 19:14] swthate commented on #219
Oh my gosh. Yes I do have a drop-down field with a 32bit value. It's for selecting 32 vs 64 bit OS values. Changing the value to `bit32` fixed it.

Thanks!

[2019-02-04 19:14] #219 closed

[2019-02-04 19:48] pauloelias opened #220 "CraftQL performance"
Apologies if this issue is related of #150 and/or #166 so let me know if I should add to one or both of those threads.

We're running into pretty long response times when trying to run queries -- either from the frontend, gatsby builds, or in graphiql -- and we are not sure why.

For example, the following query is taking 4+ seconds and we are at a loss as to why this might be happening in our sta

[2019-02-04 19:59] khalwat commented on #220
@markhuot it'd make profiling things super nice if you stuck in some profiling code around bottlenecks ala:

https://nystudio107.com/blog/profiling-your-website-with-craft-cms-3s-debug-toolbar#plugin-developers

[code]

[2019-02-04 20:14] pauloelias commented on #215
@dannyryanuk have you set up your API token and given that user token the appropriate permissions to query or mutate data?

[2019-02-04 20:41] timkelty commented on #220
@pauloelias Indeed I am still running my branch in production, unfortunately.

Here's my changes: https://github.com/markhuot/craftql/compare/master...timkelty:dlr2018

I kept it up to date with changes for a while, but haven't recently.
I did just try to rebase my branch off markhuot/master and it rebased with no conflicts, but I haven't tested it. Here's everything the between current master and

[2019-02-04 21:13] pauloelias commented on #220
@timkelty Thank you for your response!

The scheme regeneration on each request sounds like the issue we are dealing with so I will chat with you in slack about it.

[2019-02-04 21:16] markhuot commented on #220
This has been a rather interesting and troubling issue to work on. However, I can tell you all a few things,

1. when you're pulling _a lot_ of data it's slow because Craft has to make model objects for everything. Creating all those `Entry` elements takes time. I don't have a great way to fix this but keeping your limits `< 100` definitely helps.
2. as @timkelty mentions the more complex your Cra

[2019-02-04 21:22] timkelty commented on #220
🥇

[2019-02-04 22:24] pauloelias commented on #220
Thanks all!

I am really excited to see where this plugin is heading. Top notch work all around!

[2019-02-04 23:59] narration-sd commented on #220
Indeed it's good to hear the progress and directions on this, Mark, Tim, et al. Thanks, as it will make CraftQL as something many want to use.

[2019-02-05 21:13] markhuot commented on #151
This is going to go in to version 2.x which will get a branch for testing soon.

[2019-02-05 22:22] markhuot commented on #220
The 2.x branch is pushed with some significant performance improvements. Typically I'm seeing sill expensive queries go from 30s down to 1s. You can test it with,

[code]

This should have feature parity with the 1.x versions but I haven't confirmed _everything_ yet so don't go run and enable this in production or anything.

[2019-02-05 22:34] markhuot commented on #210
This is fixed in 1.3.1!

[2019-02-05 22:34] #210 closed

[2019-02-05 22:36] markhuot commented on #102
This isn't possible today. I'm going to close this ticket. The 2.x branch is progressing and will change how plugins interact with CraftQL.

[2019-02-05 22:36] #102 closed

[2019-02-05 22:59] markhuot commented on #202
This is fixed on the `dev-master` branch and will make it in to the next stable release.

[2019-02-06 01:07] pauloelias commented on #220
@markhuot this is AMAZING!

Thank you so much for getting this pushed up. We'll try it out and report back.

[2019-02-06 18:32] pauloelias commented on #220
@markhuot is there a trick to updating to this beta from `dev-master`? I was able to install on 3.0.40 so it doesn't look like 3.1 is a requirement.

The graphql endpoint errors out with a 404 when I hit from the frontend or curl.

I did the following after the update:

- Double checked my user permissions
- API endpoint setting
- Tried running the test `curl` command
- Error displayed in graphiql

[2019-02-06 18:38] markhuot commented on #220
No trick, that I'm aware of ;). It should work on 3.0 or 3.1. Although, let me confirm that… (more in a bit).

The updates were to the schema generation so the routing and `/api` endpoint should remain unchanged.

[2019-02-06 19:09] markhuot commented on #220
Okay, yea, 3.0.40 and the latest 3.1 both work okay with `~2@beta` for me.

<img width="1532" alt="screen shot 2019-02-06 at 2 05 14 pm" src="https://user-images.githubusercontent.com/48975/52366653-482cfb80-2a18-11e9-893b-cf01df5ed07f.png">

Regarding the error, `"error": "Unable to verify your data submission."`. That comes from Yii's CSRF protection, which is disabled for the API endpoint. Base

[2019-02-06 19:23] markhuot commented on #215
This also could be coming from your settings. In the HTML of the `/admin/craftql/browse` page is the following JS,

[code]

There, `$siteUrl` comes from the default Site URL set in the craft config and `$uri` comes from the CraftQL settings.

Can you let me know what (and how) your site URL is being set?

[2019-02-06 20:18] pauloelias commented on #220
@markhuot I've been trying that...

- Uninstall from the CP then reinstall
- Uninstall from the CP, remove from composer.json file,remove `vendor` dir, and then reinstall via composer

I just reverted to `dev-master` just to make sure I am not going crazy but here's a weird catch:

- I can hit the endpoint via curl without a problem
- I get the same error and the schema won't load either

my `site

[2019-02-06 21:05] markhuot commented on #220
_Very_ odd. The 2.x branch shouldn't have altered anything (config or database-wise) so going back and forth between the two branches should be possible.

Let me know what I can do to help here. If you're able to—feel free to email me a database export and I'll try to recreate it locally.

[2019-02-06 21:51] pauloelias commented on #220
Before I bother you offline I decided to try and see if I could get this working remotely in our staging instance to make sure my local docker setup isn't all wonky.

With 2.0.0.beta.1 I am able to hit the endpoint using the `helloWorld` query. When I try to use graphiql in the browser, though, the schema doesn't load and I get the following error:

[code]

I clear caches and run migrations on dep

[2019-02-06 22:06] markhuot commented on #220
That `graphiql` resource shouldn't have updated with the 2.0.0 beta so I wouldn't worry about that.

"Cannot read property 'types' of undefined" sounds like the GraphiQL introspection query isn't returning anything/everything. This feels like the 2.0.0 update is failing on your schema for some reason. If you can share a database that would be ideal. If not, could you try running the following and

[2019-02-06 22:24] narration-sd commented on #220
If it's useful here, I've run back and forth between dev-master and ~2@beta several times just now, with results:
- 2@beta works fine run inside Craft via the service
- it also runs fine called externally on its Craft api via gatsby build
- performance gain looks like 14queries/sec vs 11, according to gatsby build logging
- times for gatsby access look rational for query rate
- CraftiQL feels a bi

[2019-02-06 22:28] narration-sd commented on #220
^updated to add result on full schema query

[2019-02-06 23:21] pauloelias commented on #220
Thank you so much for taking your time to help me out with this. I REALLY appreciate it!

Running `./craft craftql/tools/print-schema > schema.graphql` inside my local docker container:

[code]

Running `./craft craftql/tools/print-schema > schema.graphql` inside a Heroku dyno works fine though 🤷‍♂️

I'll shoot over the DB because something seems super wonky.

[2019-02-07 06:59] pauloelias commented on #220
I was able to get 1.3.1 working locally by specifying a `siteUrl` (used to be `null` which worked fine until recently):

[code]

2.0 beta is still not working for some reason. When trying to use the beta I am noticing this in browser's console:

1. Unless I am misreading this the Authorization header doesn't seem to set token:

[code]

![screenshot 2019-02-06 22 53 26](https://user-images.githubus

[2019-02-07 13:05] timkelty commented on #220
@pauloelias my setup is dockerized too, so I'll try this today and see what I get

[2019-02-07 15:25] timkelty commented on #220
Hmmm for me on `3.0.40` on `markhuot/craftql@2.0.0-beta1` I'm getting:

[code]

[2019-02-07 22:08] markhuot commented on #220
Ah, so the issue has to do with how the Tag Group object types are created. I'm working on a fix for this now. Thanks for bearing with me everyone.

[2019-02-07 22:35] narration-sd commented on #220
When you guys get done, I would sincerely like to hear how this problem relates to running in a container.

Tight work, anyway, by all concerned. And for your black humor/fellow-feeling side, it happens that Wells Fargo Bank has lost just  about their entire  customer-facing IT, for all of today so far.

Without any evidence, I will blame containers; containers R fun...

[2019-02-08 01:41] pr1ntr opened #222 "table color field not supported"
When my table has a field which is a color CraftQL returns the following error:
[code]

I am currently on dev-master fyi

[2019-02-08 04:18] pauloelias commented on #220
@markhuot thank you again!

@timkelty yup, it has to be our tags/tag groups

@narration-sd turns out it's a DB issue, not a container issue. I made a mistake and though 2.0beta was working when it was deployed to Heroku but it ended up flagging the same error when I tried to generate the schema. To much time staring at the darn screen.

[2019-02-08 05:31] narration-sd commented on #220
@pauloelias definitely can identify with the screen-staring ;) and glad this is on road to being sorted.

Wells Fargo’s ‘container’ turned out to be a server building that burned down. They’ve got all operating again, if working slowly. A bit of a surprise there wasn‘t full failover geographic diversity, but then, AT&T, if you remember that one.

Thanks for the note on cause, and take care

[2019-02-08 13:53] roelvanhintum commented on #73
Fixed in https://github.com/ethercreative/seo/issues/187

[2019-02-08 18:15] timkelty commented on #220
@pauloelias if you're still considering using my branch to get you by in the interim, I rebased it off markhuot/master. Nothing appears to have conflicted or broken:

https://github.com/timkelty/craftql/tree/response-caching

[2019-02-08 19:01] jermashley opened #223 "Querying global returns error: "Trying to get property of non-object""
Howdy all.  I'm getting an error every time I try to query globals.  This is the query I'm running:

`query testGlobal {
  globals(site: "supplyChain") {
    ... on GlobalsSet {
      test {
        ... on Test {
          test
        }
      }
    }
  }
}`

This returns:
`{
  "error": "Trying to get property of non-object"
}`

I have pulled several versions of CraftQL, most resulting in the same

[2019-02-08 21:36] markhuot commented on #220
Okay, the `2.x-dev` branch should include fixes for the tags problem. @pauloelias, you should be able to run `2.x-dev` against your schema now without issue. I'm still trying to optimize it further but you should see improvements from 5s down to 1.2s.

[2019-02-08 23:32] narration-sd commented on #220
@markhuot  2.x-dev runs fine here.  Not seeing any performance change, still circa 14 queries/sec on this testbed for quite other things, with its minimal number of sections and entries to be schema'd and queried.

Quite possibly the optimizing  you mention is for other things, even the tags, but thought you'd like to see some reply as early as possible...cheers on all the work!

[2019-02-09 23:20] alexhillel commented on #202
Thanks, seems to be working great.

[2019-02-10 01:32] andygott commented on #60
Thanks for making CraftQL, it’s made moving to a Craft/React setup super simple!

I’m struggling to find a way to get users’ photos via GraphQL. Comments on this issue seem to suggest that `{ users { photo } }` works, but when I try this in GraphiQL I get “Cannot query field ‘photo’ on type ‘user’.”

Is this possible? Any pointers would be really helpful.

[2019-02-11 17:21] jasonmccallister commented on #93
So this is Laravel specific, but uses Ratcher underneath... https://github.com/beyondcode/laravel-websockets

[2019-02-11 21:01] jermashley commented on #223
Sorry, everyone.  😬 first time making a PR.  While I'm not sure this is the correct way to fix the issue, it did solve it locally.  I can query globals and the response contains the correct information.

[2019-02-11 23:06] tinchalamo opened #225 "Searching on Matrix Block Type"
Is there an entries query that can be used to return entries that are using a specific Matrix block type?

In this example I'm trying to only query entries that are using the `sessionId` block in the `vistaCode` Matrix field:

[code]

[2019-02-12 03:21] degraaf commented on #115
Hi there, I'm getting similar problems with the response from entriesConnection in version 1.3.1. Not quite sure if this is fixed yet.

When I use an offset (for pagination), I'm getting wrong values on totalCount and pageInfo properties.

Initial query response, offset 0, limit 10:
![initial query](https://user-images.githubusercontent.com/1396033/52609227-a5212980-2ed0-11e9-9ef7-aab42bd0ebc6.png

[2019-02-12 10:57] joshangell commented on #125
Hellloooo chaps ... so, I _think_ I’m hitting a related issue, in that if I have a Matrix sub-field with the same handle as an existing field then the Matrix sub-field config is attached to the top-level field.

To replicate create a dropdown field with the handle `dropdown` and a bunch of options. Then create a Matrix field with whatever block types, make sure there is a dropdown field on there w

[2019-02-12 17:21] pauloelias commented on #220
@markhuot `2.x-dev` seems to be running beautifully, thank you so much!

We'll do more testing over the next few days and report back if we see anything amiss.

@timkelty thank you sir! I really appreciate your help too.

[2019-02-12 17:23] markhuot commented on #220
That's great news @pauloelias, I'm curious if you see any performance improvements too.

Note: the biggest wins will be pulling 10 (or 100) entries of a single (or limited) content types. If you're pulling 100 entries spread across _all_ content types then the improvements will be minimal because either way GraphQL has to instantiate all those types.

[2019-02-12 19:35] narration-sd commented on #220
@markhuot yes, I thought that would be best area of perf gain, but felt also it was good to give some feedback along with lights-are-still-on notice during the fix-find-trail this issue conversation turned to.

I'm still seeing that 30-40% improvement even so, in this constrained situation, and every bit helps -- just ask @khalwat....

[2019-02-13 13:35] seidtgeist commented on #222
I’ve seen similar errors for other fields. Is there any way to include the error message in the response from CraftQL’s side? Might help with debugging in the future.

[2019-02-13 15:13] timkelty opened #226 "Add a public GraphiQL route"
It would be great if there were a public controller/route that rendered GraphiQL, outside of the CP.

We've often granted access to CraftQL to other devs via tokens, without a Craft account/login.

If we could point them to an endpoint where they could put in their token and use GraphiQL outside of the CP, that would be ideal.

[2019-02-13 15:17] markhuot commented on #226
Interesting, how would this differ from them using something like https://github.com/prisma/graphql-playground with their same token?

I'm not discounting the idea, I like it, just curious if there aren't better ways?

[2019-02-13 15:30] ManiakMill opened #227 "User photoVolumeId incorrect"
class User extends Schema
System setting param should be **photoVolumeId** to **photoVolumeUid**

User photo field now not available

[2019-02-13 15:30] markhuot commented on #227
Ah, thanks, this is a breaking change from Craft 3.1. Let me look at this and make sure I can support 3.0 and 3.1 with the same code or if I need some sort of branch.

[2019-02-13 15:35] timkelty commented on #226
@markhuot ah, I knew about desktop versions (e.g. https://insomnia.rest/graphql/), but didn't know about graphqlbin.com!

For some reason my queries work (once I put the `Authorization` stuff in the HTTP headers, but the schema/docs never load.

Might be CORS issues, seeing `x-apollo-tracing` CORS errors in the console…

[2019-02-13 15:40] timkelty commented on #226
Hmmm yeah it works fine with the local/desktop version

[2019-02-13 15:42] ManiakMill commented on #227
Craft CMS v. 3.1.9.1
Nice TY!

[2019-02-13 15:42] markhuot commented on #226
Yup, it must be a CORS issue if it works locally.

You could try setting `'allowedOrigins' => '*'` in your `config/craftql.php` to work around that. Or, more securely, set it to `www.graphqlbin.com`, probably.

[2019-02-13 15:43] timkelty commented on #226
👍 well this is good enough for me to pass on to api consumers, thanks!

[2019-02-13 15:43] #226 closed

[2019-02-13 18:22] hendrikeng opened #228 "Adding a row to a table field"
I am trying to mutate/add a new row to a custom user field, which is a table. The problem is that the mutation does not add a value, neither is adding a new row, it just overwrites the existing row with null

[code]

the response to the query is e.g.:

[code]

The mutation i tried is

[code]

But after the mutation, the values of refNumber are null, instead of adding a new object to the array with

[2019-02-13 23:00] tinchalamo opened #229 "Registering schema with Apollo Engine"
Has anyone been able to [add their schema to the Apollo registry](https://www.apollographql.com/docs/platform/schema-registry.html)? I'm stuck on the **[Pushing a service](https://www.apollographql.com/docs/platform/schema-registry.html#publish)** step since I'm unsure on how to pass the CraftQL token to this command:

[code]

The `<API_KEY>` part of the command is for Apollo Engine so it knows wh

[2019-02-13 23:05] tinchalamo commented on #225
I found a workaround using the [Preparse Field](https://plugins.craftcms.com/preparse-field) plugin that saves the `sessionId` in a plain text field called `vistaCinemaSessionId` which makes it easy to search on the entries query:

[code]

[2019-02-13 23:05] #225 closed

[2019-02-14 14:33] markhuot commented on #229
You can pass `--header` to the `apollo service:push` command to specify additional heads for the introspection query. https://github.com/apollographql/apollo-tooling#apollo-servicepush

E.g.,

[code]

[2019-02-14 15:17] tinchalamo commented on #229
That did the trick, thanks Mark!

[2019-02-14 15:17] #229 closed

[2019-02-16 11:57] ManiakMill commented on #85
Hi. When you plan to add this functionality? It will be awesome solution.

[2019-02-19 12:05] hendrikeng commented on #228
Hey, @markhuot any update if it really is a bug or if I just messed up my mutation?

[2019-02-19 19:12] pauloelias commented on #220
@markhuot after giving this branch a go for a bit we've found a few things that might be bugs because they were working with our original queries:

1. Using the `site` filter on queries creates an internal server error. It’s possible to still select the right site by using the `siteId` filter though.

This returns a 503 error:

[code]

This query returns `Argument \"site\" has invalid value \"en\"

[2019-02-21 12:32] eivindml opened #230 "Feature request: Return small base64 encoded image as part of json response"
Hi.

Love the plugin. There is one feature which would be really cool to add.

When using Sanity.io CMS, the have a cool feature where they return a base64 encoded 20x20 image or something (maybe keeping aspect ration), when querying an assets. With this we can then show a css blurred version of the image, and then lazy load and replace the final image.

Not sure it it's feasibly or will save any

[2019-02-21 18:51] fmkguy opened #231 "Unknown directive "date" in Gatsby"
Using the `gatsby-source-graqhql` plugin, I'm unable to format dates.  I don't know exactly where I should seek help on this. I feel like it might be a Gatsby problem or I just don't understand how to make use of the `date` transform within Gatsby. Any help is appreciated. :)

Query:
[code]

Result:
[code]

[2019-02-21 18:53] markhuot commented on #231
Your query looks correct to me. Could you maybe try the same query in GraphiQL within the Craft admin and see if you get the same error? That’ll help determine if it’s CraftQL or Gatsby.

[2019-02-21 19:40] fmkguy commented on #231
From CraftQL (GraphiQL)

Query:
[code]

Result:
[code]

[2019-02-21 19:42] fmkguy commented on #231
If the problem is with Gatsby, how do I even go about finding a solution? Obviously, it's possible to format things like timestamps pretty easily on the frontend. But if this is going to be a common problem across other Gatsby- or GraphQL-related things, it'd be nice to know ahead of time what works and what doesn't. :(

[2019-02-21 21:55] seidtgeist commented on #220
For our project, @pauloelias and I have downgraded the plugin back to a version with the previous schema and put a tiny custom caching node proxy in front of it. It normalizes queries, hashes them for a cache key and stores responses in a redis instance. For our gatsby use-case this gets us from less than <1 to 35+ queries per second, which is likely a limit on the gatsby side.

Looking forward to

[2019-02-21 21:59] narration-sd commented on #231
Well, I'm feeling my way on this sort of thing also, as I need to do a provider for another gatsby-like item. Here's what I get trying to find a source for your problem:

- I used a schema-producing query I've borrowed from elsewhere. I'll put it below.
- If I run this from the CraftQL server's graphiql that @markhuot provides, it seems appropriate, as it finds the `@date` in its list of directive

[2019-02-22 22:26] markhuot commented on #220
@pauloelias and @seidtgeist, your issues on the `2.x` branch should be (mostly) resolved now. The missing fields should be back.

A few notes on 2.x,

1. Yes, `site:` is now an Enum instead of a string. This is a breaking change so I want to make it now. The reason behind the change is that since Type and Section are enums it makes sense that Site would be an enum too.
2. Slugs are of type `[Strin

[2019-02-22 23:28] pauloelias commented on #220
@markhuot Great news all around!

We'll give it a go and report back any issues we come across.

[2019-02-24 17:22] markhuot commented on #220
FYI, I made further updates to the `2.x` branch that should help _all_ schemas, not just complex schemas. The optimization avoids spinning up unnecessary types so a query for entry types doesn't even touch the Globals, Volumes, Categories, or Tags types. Because of that I'm seeing improvements on a sample schema from 5s down to 800ms or so.

[2019-02-24 17:28] markhuot commented on #227
I'm not able to recreate this. I can query user photos without issues. What query/mutation is causing the issue?

[code]

[2019-02-25 09:37] andygott commented on #227
I ran into this one too, using Craft Pro 3.1.14.

Query:

[code]

Response:

[code]

Adding the following after [this line](https://github.com/markhuot/craftql/blob/master/src/Types/User.php#L25) in the User type fixes it for me:

[code]

[2019-02-25 12:02] michieldewilde commented on #93
What is the status on this? And what are the pain points atm?

[2019-02-26 10:59] seidtgeist commented on #220
@markhuot Thank you so much, we really appreciate your hard work! Will report back later today or tomorrow on our findings with the latest API 🤘

[2019-02-26 13:48] nelhop opened #233 "Query entries with a structure from categories"
I have tree structured categories which represent a hierarchy.

__Query:__
[code]

__Result:__
[code]

In a structure (may also be a channel) I have multiple entries (persons) who belong to one or more categories.
How can I query the persons in their tree structure (see result above)?

[2019-02-26 15:17] markhuot commented on #233
Using `categoriesConnection` should get you want you want. The `*Connection` fields add a layer of indirection to the result so you can pull related elements out like so,

[code]

In the above the `node` on line 4 is the category. That'll pull back any info like the level and title of the category. Then the `relatedEntries` field will pull any entries _related_ to that category. That should get yo

[2019-02-27 02:22] pauloelias commented on #220
@markhuot I just pulled down what I think is the correct branch and I am running into the following errors when loading the CraftQL Graphiql editor:

[code]

In the console I am seeing this for `https://domain.com/api`:

![image](https://user-images.githubusercontent.com/978535/53460201-2d372100-39f1-11e9-9bd4-c71d256d91ae.png)

Same issues in local development with the same DB.

Local/Remote Dev:

[2019-02-27 05:00] oddnavy commented on #31
Is it now possible to access live preview content using the "Tokenized Live Preview authorization" added in craftcms/cms#1521?

Testing locally it seems like if I add a valid `X-Craft-Token` header, the graphql api attempts to return the twig template for the entry rather than the JSON. If I remove the `X-Craft-Token` header the request works prefectly.

[2019-02-27 11:58] markhuot commented on #31
I’m looking in to this more. I don’t think the `X-Craft-Token` gets us preview content, that content is still hidden away in a POST request. But I’m working on an update to CraftQL that’ll store that POST data and make it available to GraphQL when the header token is present.

I’m going to re-open this ticket because I have an idea on how to implement this.

[2019-02-27 14:16] markhuot commented on #220
Thanks @pauloelias, I pushed a fix for this and updated the test cases to catch this in the future.

----

Additionally, for complex schemas such as yours, I would highly recommend disabling Schema Validation. There are two ways to do this,

1. `'devMode' => false` in your `config/general.php` (this has the unintended consequence of hiding error messages during development)
2. `'disableSchemaValid

[2019-02-27 17:07] narration-sd commented on #31
@oddnavy @markhuot  Actually, that's just right, Mark. There is no data present  for CraftQL to see during live updates.

I've got a full solution about ready to go out the door. It takes much more than you may imagine to do this right -- essential safety, efficiency, and flexibility as well as correctness, and then get it hooked in a useful fashion to SPA or  embedded-component sites.

And the da

[2019-02-27 17:09] narration-sd commented on #31
...and by the way, I should say thanks again, for CraftQL. This thing started out on Element API, and then had some 'interesting' and potential abilities, but once I saw how clear it was to put together many things persons ordinarily want to do, I was sold on your path. It'll be a boon to many, and has already been here.

[2019-02-27 21:59] pauloelias commented on #220
@markhuot we're back in business, thank you so much!

[2019-02-28 09:28] nelhop commented on #55
I am facing this error with a nested query:

[code]

Is there a smarter / better way to do this and to avoid the error?

[2019-02-28 10:27] nelhop opened #234 "`internal server error` after deleting a category-group in craft"
I have deleted an unused category-group in craft. Since then the CraftQL api responds with a `internal server error`.
Deactivating categories in the token scopes let run the api correct again. But since I need categories for other queries this is no option.

The GraftQL Plugin prompts:
[code]

How can I get CraftQL get up running again?

[2019-02-28 10:29] nelhop commented on #233
Works like a charm. Thank you very much @markhuot !

[2019-02-28 10:29] #233 closed

[2019-02-28 16:48] nelhop commented on #234
Apparently the category-group was not as unused as I thought. It was still referenced in a section entry. After removing it (really everywhere) the error is gone.
Sorry for the unnecessary Issue! :disappointed:

[2019-02-28 16:48] #234 closed

[2019-02-28 18:08] nelhop opened #235 "Fragments with different fields"
I would like to query a list of appointments which can have three different entry types (Lecture, Date_group, Date_other). The queries below only work if every fragment has the same fields.

For example in `query datesList` I don't need `dates_date_end` and `dates_date_allday` on `Lecure` but I have to include them in the query (and in craft) to avoid an error.

[code]

Also I would like to query

[2019-03-01 17:01] rodrigosaraiva opened #236 "Upgrade graphql-php version"
We are having problems with the version that you are using for the graphql-php package.
Your package is using the version 0.11.0, and the new version 0.13.0 fix the following problems:

[-][-][-][error][yii\base\ErrorException:2] yii\base\ErrorException: "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"? in /var/www/html/vendor/webonyx/graphql-php/src/Validator

[2019-03-01 17:04] markhuot commented on #236
What version of PHP is this? I've held off on updating because the latest version of `graphql-php` requires PHP 7.1 which is more than CraftCMS requires (7.0). So, CraftQL is in a tough spot.

Related: I have a `2.x-dev` version that I'm working on that would be the appropriate place to make this update, if I'm going to.

[2019-03-01 17:13] rodrigosaraiva commented on #236
The version is 7.2.11 for PHP and Craft 3.1.15.

[2019-03-01 17:59] pauloelias commented on #220
@markhuot so far the only issue that we are running into is we can't seem to query by "site":

[code]

The above query returns this error:
[code]

[2019-03-01 18:38] markhuot commented on #236
Okay, thanks @rodrigosaraiva. I'm going to exploring reving the version number on the `2.x` branch and see if anything breaks. I'll let you know once that's done and you should be able to try it out.

[2019-03-01 22:51] markhuot commented on #236
I'm still working on this. There are a number of backwards breaks that I need to work through before this is merged. I will keep you updated in this ticket as I work through it though.

[2019-03-02 01:33] mattstein opened #237 "Bug: setSettings() can interfere with other plugins using `token`"
The main plugin class's [check for `$_POST['settings']['token']`](https://github.com/markhuot/craftql/blob/master/src/CraftQL.php#L123) can apparently throw an exception if another plugin's settings are being saved and they include a `token` property that's _not_ an array.

This is the case, for example, with [`studioespresso/craftnet-cp`](https://github.com/studioespresso/craft3-craftnet-cp), who

[2019-03-02 18:33] eivindml opened #239 "Deprecation warning: The “sourceId” asset query param has been deprecated."
Craft gives a warning in the 'Deprecation Warnings' tab.

`Deprecation warning: The “sourceId” asset query param has been deprecated. Use “volumeId” instead.`

I tried to just replace `sourceId` with `volumeId` when fetching assets, but that doesn't work. Ideally I could just fetch assets from a given volume based on the handle for the volume, but can't figure out a way to do this either.

How sho

[2019-03-04 10:57] rodrigosaraiva commented on #236
@markhuot Thank you Mark. We bought this plugin because we are working in a project to a bank, and it is very important to have it updated. For now we are working with manual changes on it. It is not a huge problem, but it will block us from update plugins for a while.

[2019-03-04 11:20] OFranke commented on #223
@jermashley would be nice to know how you solved it locally - I am currently facing the same issue. Can you give any advice?

[2019-03-04 15:11] markhuot commented on #236
@rodrigosaraiva, did you have any issues with the update? E.g., I know the `Directive::FIELD` class changed a bit and causes issues.

[2019-03-05 09:29] nelhop opened #240 "Filter edges level"
How is it possible to only get `level: 2` entries of `edges`?

![query](https://user-images.githubusercontent.com/1862955/53794645-b0480200-3f30-11e9-88be-65a2add19943.png)

**Background:**
I have a two level deep hierarchy of contacts. The `contactConnection` fires both levels, while I only need the deepest level which is the direct connection (and not everybody else).

[2019-03-05 14:22] markhuot commented on #240
On `contactConnection` you should be able to set `level: 2` to limit that. Will that work for these purposes?

[2019-03-05 14:30] nelhop commented on #240
Thats what I thought. But unfortunately `contactConnection` does not know the argument `level:
![bildschirmfoto 2019-03-05 um 15 28 34](https://user-images.githubusercontent.com/1862955/53812233-590b5700-3f5b-11e9-90ef-fddfc9b4b3cc.png)

Here is the code if this helps:

[code]

[2019-03-05 16:35] markhuot commented on #240
What version of CraftQL are you running? Arguments were added to `{entriesField}Connection` fields in January, https://github.com/markhuot/craftql/commit/79630a60b4c4abb1897e63b6a36dff950e4e12d1.

[2019-03-05 16:39] nelhop commented on #240
I am running CraftQL 1.3.1 and Craft ist not showing any updates.

[2019-03-05 17:52] markhuot commented on #240
Am I correct that `contactConnection` is an Entries field with a handle of `contact`?

[2019-03-05 17:56] nelhop commented on #240
Sorry, I am quite new to GraphQL and not sure how to answer that...
Would my Schema answer that? Or how can I check this?

[2019-03-05 21:04] amperand commented on #231
any updates here?

[2019-03-06 00:47] fmkguy opened #241 "Runtime Object type "..." is not a possible type for "EntryInterface"."
Any ideas why I can't query for a specific section?

![craftql_-_amplifed_by_design](https://user-images.githubusercontent.com/207402/53847627-56622f00-3f66-11e9-8278-6368ee488583.png)

I have several other sections that I'm successfully able to query. This is the first time I've run into this error. :(

[2019-03-06 00:49] fmkguy commented on #241
Honestly, I don't even know how you would recreate the issue. I set up the section in exactly the same way I did the others. It's a channel called "Careers"... Nothing special happening in the admin CP.

[2019-03-06 00:52] fmkguy commented on #241
I may try deleting the section and re-creating it, locally...

[2019-03-06 00:59] fmkguy commented on #241
Odd. So I tried deleting the section and creating it again. Still getting the same error.

[2019-03-06 01:18] markhuot commented on #241
Is there any way you can send me a copy of your database for me to take a look at?

[2019-03-06 16:48] rodrigosaraiva opened #242 "Insert entries with failed validation is returning status 500 as http code"
When we are using the mutation for insert an entry to the craft database, everything is ok when the fields are right.
But if some of the fields failed in validation, instead to return 400 that is the most appropriated code for validation errors. It is returning 500.
![screenshot from 2019-03-06 16-43-00](https://user-images.githubusercontent.com/5757716/53898248-a0631780-402f-11e9-8634-897d041a78f

[2019-03-06 18:00] fmkguy commented on #241
I think I can do that. But what's the best way to send that?

[2019-03-06 18:11] fmkguy commented on #241
For whatever reason, I was able to create a _different_ section (called `FakerNews` instead of `Careers`) utilizing the same fields, and this time it works. "Careers" just doesn't seem to exist according to CraftQL. 🙁 So it doesn't seem like the problem is with the fields I'm using. That's a relief, at least.

[2019-03-06 18:11] nelhop commented on #235
Figures out to get this to work the schema needs to be populated correctly.
See: https://cmty.app/nuxt/apollo-module/issues/c51#comment-5c6c610336f69c7be4e7892f

[2019-03-06 18:11] #235 closed

[2019-03-06 18:41] markhuot commented on #235
FYI, not sure if it helps here but you have access to the following CLI command that will print fragment types to std out. Redirect it to a `.json` and then you can load it in to Apollo,

[code]

also,

[code]

[2019-03-06 21:05] markhuot commented on #242
I'm not sure I agree. 400 would be a not found or not authorized class error. 500 indicates that something went wrong.

What status code would you expect and do you have any examples of other services that do something similarly?

[2019-03-06 21:06] markhuot commented on #241
@fmkguy, if you can email it to the email address on my github.com/markhuot profile that would be great, thanks. Just reference issue 241 so I know what it is.

[2019-03-06 21:29] rodrigosaraiva commented on #242
Hey Mark. I think it is wrong. The 500 indicates some error at the server (internal server error), something that couldn't be processed and the webserver shows this error. It is related to not treated situation, some programming error, etc.
A validation error message is not a server/webserver error response. It is a proper response that the data cannot be saved at database because not respect the

[2019-03-06 21:41] narration-sd commented on #242
@markhuot  kind of agree with Rodrigo's point here, Mark. I've been surprised also by 500s coming from CraftQL's disagreement about queries. And these are not 'server' failures -- they are information-not-acceptable-to-application problems, suspect you'd agree if put that way.

Looking over the codes in usage, how about 422?

According to Wikpedia's summaries, this means '422 Unprocessable Entity

[2019-03-06 22:21] markhuot commented on #220
That should be fixed up now, thanks so much for testing this out. I'm _really_ liking where the code base is for this new branch. It's a _huge_ improvement over my first pass at all this. Things are _much_ cleaner.

Last step before merging this is checking over all the token scopes. I think some of the scopes got lost in the refactoring so I'll confirm all that and then prep this for merging to `

[2019-03-07 05:27] narration-sd commented on #242
...and the other advantage of 422 is probably that it's seldom seen, thus a nice flag that can be doc'd, to let know that something pretty hidden, the CraftQL query, is the root of a problem...

[2019-03-07 12:14] nelhop opened #243 "Filter on sub fields"

[2019-03-07 17:59] fmkguy commented on #241
It just occurred to me that I have a Global set also named `Careers`. Would that cause the issue, do you think?

[2019-03-08 09:28] hendrikeng commented on #228
Sorry to bump it up again, i have tried it with a new craft install and i am still running into the same issue

[2019-03-08 11:57] Rias500 commented on #242
422 is what Laravel uses for validation errors, I think it's a good choice

[2019-03-09 07:56] narration-sd commented on #231
@fmkguy  This is possibly kind of on a borderline for @markhuot, and I'm also very pressed for time, if interested

I just took a moment, though, and may have found something.

Have a close  look at the gatsby-source-graphql doc here: https://www.gatsbyjs.org/packages/gatsby-source-graphql

If you look at the Schema definitions section, it looks like you can do your own introspection on your Graph

[2019-03-11 02:41] narration-sd commented on #231
...and... there might be an easy way around your problem, @fmkguy, though really we should find out  how  to make gatsby and CraftQL fully cooperate.

I was just looking through Gatsby doc for something else, and came across this section, which shows Gatsby has its own date formatter for GraphQL results.  Which may have something to do with that directives for this aren't coming through, or not, b

[2019-03-11 09:46] nelhop commented on #240
Hey @markhuot, kann I provide you any information to get this solved?

[2019-03-11 10:36] nelhop commented on #243
I would expect a filter like `dates_category_group: {id: $categoryid}` to work. But CraftQL does not accept anything other than a String as argument. How would the correct syntax look like?

[2019-03-11 15:31] jasonmccallister commented on #93
@markhuot like @khalwat states, PHP is not the best approach for these connections, is it an absolute crazy idea to recommend a web socket middleware that does the work and connects to the PHP connection? Maybe even outside of this plugin?

[2019-03-12 04:41] jermashley commented on #223
I made this change on my local setup and it fixed the issue.  https://github.com/markhuot/craftql/pull/224/commits/5228c8f9b6e5a1cc7753310eced1fa67949f56a1

[2019-03-12 13:20] markhuot commented on #223
@jermashley, I left you a comment over here, https://github.com/jermashley/craftql/pull/1

I'll get this merged in if you can update the PR to point to my upstream repo.

[2019-03-12 23:30] pauloelias commented on #220
@markhuot sorry for taking so long to get to you on this. On a new branch I blew out my vendor folder and tried installing craft with `~2@dev` again.

I am not seeing any console errors but I am getting this in graphiql in the Craft CMS admin area:

[code]

I cleared out the `cpresources` directory, browser cache, and even tried using an incognito window but I can't seem to shake the above error i

[2019-03-12 23:32] markhuot commented on #220
Thank you! This has been super helpful. I’ll dig in to those issues and get back to you.

[2019-03-13 21:52] swthate opened #244 "How to get relatedEntries so each section is an edge?"
First of all sorry if the phrasing of that question makes no sense. This will show my lack of real GraphQL understanding I'm sure!

I have a simple query like this that is getting my data just fine:

[code]
As you can see I am getting one Script entry and then grabbing a number of relations with entries from other sections. Because I don't know how to tell from what section a given relation comes

[2019-03-14 16:13] jsunsawyer commented on #55
Getting the exact same error as @nelhop with what seems to be a pretty basic query. Not really sure what to be looking for to resolve this.

[2019-03-14 19:04] swthate commented on #244
Okay my problem was I didn't know about aliases. Stumbling upon this article helped me out: https://medium.com/graphql-mastery/graphql-quick-tip-aliases-567303a9ddc5

So changing this `relatedEntries(section:[sites,clients,veterinarians,orders])` to something more like the following returned the data to me in a fashion I was hoping for:

[code]

This will return two objects: `orders` and `clients`

[2019-03-14 19:04] #244 closed

[2019-03-14 19:26] swthate opened #245 "Related entries are not being returned"
Craft 3.1.17.2
CraftQL 1.3.1

I am using `entriesConnection` to query a given entry by its id and then use `relatedEntries` to get reverse related entries from a given section. This has worked in the past, but right now this query is returning an empty object for my `relatedEntries` part.

Here's the full query:

[code]

Everything returns fine except `orders` just returns the following:
[code]

B

[2019-03-15 20:19] jan-thoma opened #246 "Plugin breaks CLI"
Craft 3.1.18
CraftQL 1.3.1

If i try ./craft help i get this error returned:

[code]

[2019-03-15 20:53] jan-thoma commented on #246
Sorry, this error was caused by acustom module and is not related to the plugin

[2019-03-20 00:29] timkelty opened #248 "Craft 3.1.19 breaks entriesConnection, et al."
Seems odd for a patch release, but queries with `entriesConnection` / `tagsConnection` / `categoriesConnection` started breaking upon upgrading `craftcms/cms` from `3.1.18 => 3.1.19`.

I locked the version down and confirmed it works if I go back to `3.1.18`.

Given query:

[code]

on `craftcms/cms@3.1.9`:
[code]

on `craftcms/cms@3.1.8`:
[code]

I haven't peeked at the source of the `3.1.19` rele

[2019-03-20 00:36] timkelty commented on #248
I've tried this with `markhuot/craftql@1.3.1` and `dev-master` with the same result.

[2019-03-20 02:55] brandonkelly commented on #248
3.1.19 was a pretty tame release. Just looked through it and not really sure what could be messing with CraftQL. Happy to look into it further if anyone has any ideas.

[2019-03-20 03:13] timkelty commented on #248
Looking through the release notes, my only guess is something to do with the pagination changes, as that is exposed through these element connections. (‘pageInfo’)

Hopefully will have some time to look into it this week.

[2019-03-20 11:36] timkelty commented on #248
@brandonkelly hmmm does appear pagination related…the actual thrown exception:

[code]

[2019-03-20 11:38] brandonkelly commented on #248
@timkelty What is the stack trace?

[2019-03-20 11:38] timkelty commented on #248
nothing helpful - still digging: ```2019-03-20 07:32:28 [-][-][-][trace][yii\base\View::renderFile] Rendering view file: /app/vendor/composer/yiisoft/yii2/views/errorHandler/exception.php
2019-03-20 07:32:28 [-][-][-][trace][yii\base\View::renderFile] Rendering view file: /app/vendor/composer/yiisoft/yii2/views/errorHandler/callStackItem.php
2019-03-20 07:32:28 [-][-][-][trace][yii\base\View::rend

[2019-03-20 11:39] timkelty commented on #248
@brandonkelly Looking at the CrafQL code, I suspect its coming from ```\craft\helpers\Template::paginateCriteria($criteria)```

[2019-03-20 11:50] brandonkelly commented on #248
Huh… `$pageInfo` is a `craft\web\twig\variables\Paginate` object there, and that has never had a `$limit` property.

Here’s all of the changes made to that class in 2.0.19:

https://github.com/craftcms/cms/compare/3.1.18...3.1.19#diff-d85eed56af7711fc3697dcae8e501448

So maybe this is just because we now have it extend `yii\base\BaseObject`, which is maybe more strict about setting unknown propert

[2019-03-20 11:54] timkelty commented on #248
Yeah - seems like the intention is for the limit (default 100) to be on the `$criteria`, not `$pageInfo`.

[2019-03-20 12:19] brandonkelly commented on #248
@markhuot Just submitted #249 to fix this, but I’m guessing all that is going to do is start limiting the results where previously they weren’t being limited at all, since `limit` wasn’t getting set on the element query like it would need to. So probably worth testing and making sure pagination works correctly.

[2019-03-20 12:20] timkelty commented on #248
Thanks @brandonkelly!

[2019-03-20 16:45] seidtgeist commented on #81
@markhuot Is there any chance we can change the default date format to be ISO8601 in a semver major release?

[2019-03-21 01:23] pstinnett commented on #41
Is anyone having issues with gatsby-source-graphql / CraftQL in say... the past couple days? My set up was working great but now I'm getting errors and I'm unable to query.

From the Gatsby GraphiQL I'm trying:

`{
  craft {
      entries(section: [pages]) {
       	__typename
        ... on Craft_Pages {
          id
          title
          uri
        }
      }
  }
}
`

which is returning

`{

[2019-03-21 03:36] narration-sd commented on #41
@pstinnett @markhuot  Yes -- I have a demo app for something interesting coming for Gatsby which uses a query much like that.

I've just tried it on Craft 3.1.19 as updated today, and can't build.  I broke things down so I could run Gatsby Graphiql only, and the query then fails in a quite related way to yours.

The same query in CraftQL/general GraphQL form, without the Gatsby prefixes, still run

[2019-03-21 06:21] narration-sd commented on #41
@markhuot, Mark, for your morning, I attach a report of things I've tried and possible portion of conclusion. Matt Stein, @mattstein has also been easter egging this as we chatted.

Steps taken, often with some degree of short binary search on versions, and reckoning from the fact that CraftQL was working ok here, apart from the mentioned, seemingly related `@date` issue, up to a day or two ago ma

[2019-03-21 12:22] pstinnett commented on #41
@narration-sd Thanks for confirming all of that! @markhuot Should I break this off into a separate issue? Happy to provide any assistance that I can to help get this figured out.

[2019-03-21 21:31] narration-sd commented on #41
@pstinnett  You're welcome, and I have more....a long morning of digging holes got part of an answer.

- I know for a fact now that this is not due to something @markhuot changed, nor Craft itself. Reason: almost all my testing happened to be done with Gatsby config I forgot that pointed CraftQL queries to a remote staging server. Nothing's been changed there in the past two weeks. So this bust-up

[2019-03-21 21:36] pstinnett commented on #41
@narration-sd Excellent work! I agree I now do not think this is a CraftQL issue. I spent most of the day away from this issue, but just searching now I've found this in the Gatsby repo: https://github.com/gatsbyjs/gatsby/issues/12717

Looks like a similar (the same?) problem...

[2019-03-21 21:50] pstinnett commented on #41
@narration-sd 1 more update for tonight. I do believe that issue linked above is what we're seeing. I set my gatsby version to 2.1.39 and ensured I was running gatsby develop using the project version (not global gatsby-cli) as `npm run develop` and my project is compiling again. Hopefully Gatsby team can fix this one up soon.

@markhuot Sorry for the spam! Thanks for all your hard work on this pl

[2019-03-21 22:16] narration-sd commented on #41
@pstinnett  no spam problem; this the good kind -- and great find.

Thank you kindly for passing it on.

While those Deutschland fellows eat up their evening, or next morning, I'm going to try your back-off to see if it gets us on the air right away here.

[2019-03-21 23:10] narration-sd commented on #41
Ok, think I have this very nicely in place for us, thanks to you @pstinnett and an add from @mattstein.

- need to be sure gatsby(-cli) remains held on 2.1.39 until this fix this, across npm update commands
- need now a polyfill to stop today's non-understandable increasingly circular chatter about core-js

This looks to do both, plus a freebie:
[code]

@markhuot, I think you are officially of the

[2019-03-22 20:21] narration-sd commented on #41
...the Gatsby (cli) team fix via 2.2.7 does appear to clear yesterday's difficulties - I tested on 2.2.8, and am leaving our repo package.json devDependencies line in,  modified to ^2.2.8, to catch older usage, and to prepare for any further oncoming trains like this :)

[2019-03-25 18:40] tristangemus commented on #172
Is there password field support yet?

[2019-03-26 04:47] intensr commented on #234
how did you detect it since the error itself gives no clue whatsoever, were using a lot entries and fields and its hard for me to detect what causes the error

[2019-03-26 09:58] sjimster commented on #227
@markhuot Is this something that will be fixed in an upcoming release? The solution above is working, but I guess its only temporary until the plugin will be updated?

[2019-03-26 10:40] boxadesign commented on #194
Hi, I am having a similar issue to this.

Within CraftQl I can query data ok and also with curl. However if I go to: mysite.local/api I get a 404.

I'm running apache but am unsure where the issue lies.

Thanks, Matt

[2019-03-26 13:01] danireginatto commented on #248
+1 have a solution for this problem?

[2019-03-26 14:06] swthate commented on #248
I'm interested in the progress of this as well. I'll have to hold some projects back to 3.1.18 until there is a fix as they rely on CraftQL 2 beta.

[2019-03-26 14:07] markhuot commented on #248
Will be reviewing this, this week, to get a release cut.

[2019-03-26 14:25] danireginatto commented on #248
Can we help in any way?

Daniel Reginatto
daniel@reginatto.com

[2019-03-26 18:25] narration-sd commented on #194
If you're just accessing the api route from a browser, you're going to get refused because you haven't included an authorization token, as you would on curl or other means.

CraftQL ought to return a 401 in this case, rather than a 400, signaling normally what's going on.

This is related to other responses which CraftQL is still a bit loose about  - see #242

[2019-03-26 18:27] narration-sd commented on #242
Surprised to reference this and find it closed -- @markhuot , any reason not to return informative codes, either case?

[2019-03-27 13:45] danireginatto commented on #248
Mark, Can you tell us when we can test? My system is broke.

[2019-03-27 13:47] bzin opened #250 "Store token scopes on project config"
On a Craft CMS installation using configuration `useProjectConfigFile` to `true` and `allowAdminChanges` to `false` on production environment, we are not able to update the scope token for a recently created `Section` or `Entry type`.

So for easily deployment between the different environments the scope tokens should be added in project config yaml file.

[2019-03-27 15:23] brandonkelly commented on #248
In the meantime you should be able to get it working (and help test) by switching over to my PR branch.

To do that, add my repo to the `repositories` config in composer.json, and change your `markhuot/craftql` requirement to `dev-248-fix`:

[code]

Then run `composer update`.

[2019-03-27 16:12] narration-sd commented on #248
That's a great contributive move,, @brandonkelly -- and a great method to keep in mind, seeing how it works....

[2019-03-28 15:38] monachilada commented on #205
@seamofreality

What is this in reference to? I can't seem to find any documentation about `alternateEntries`. Can you give an example of how you do this with entries?

[2019-03-28 16:27] nc2-jordansmith commented on #248
Tested the `dev-248-fix` on Craft v3.1.19 and v3.1.20.1 and it works for me. I'll still need to wait for the release version for my team to use it, but thanks, @brandonkelly!

[2019-03-29 17:03] dineufeld commented on #248
When to expect with an update? I have I an external API managed by CraftQL and I don't have an access to make downgrade of the craft version on the server.

[2019-03-29 21:55] swthate opened #251 "Mutation errors on ~2@dev branch"
CraftQL: ~2@dev
Craft: 3.1.18

I'm attempting a pretty straightforward mutation query:

[code]

And I get the following error:
[code]

I tried rolling back to CraftQL 1.3.1 and got a different error:
[code]

This section does have a complex URI: `towns/{object.town.one.title|kebab}/news/{object.title|kebab}`, so I changed it to a very simple URI: `town-news/{slug}` and the mutation worked!

So aft

[2019-04-01 14:12] nelhop opened #252 "access custom fields of assets"
I added a custom field `copyright` to my assets field layout. How can this be accessed in the query?

I expected this query to work:
[code]
But it prompts: `Cannot query field \"copyright\" on type \"EntryInterface\".`

[2019-04-01 14:14] markhuot commented on #252
What's the name of your assets field? Also what is the name of your assets volume? You'll probably need something along these lines,

[code]

[2019-04-01 14:19] nelhop commented on #252
Thanks for the hint! I missed out the `VolumeHandle`.

[2019-04-01 14:19] #252 closed

[2019-04-02 17:48] bobbymart1n opened #253 "New section shows up in CraftQL but not in GraphiQL"
So I'm trying to add a new section(page) through craft. After adding data to the corresponding fields and saving, I pull my added changes to my dev environment via Gatsby and the new section(page) doesn't show up when testing the query in GraphiQL. I've tried deleting the section and adding it again, only to have the same result. All other queries work fine. Any solution to this?

[2019-04-02 18:37] #253 closed

[2019-04-02 20:03] millman2394 opened #254 "Getting Site Globals -Trying to get property 'handle' of non-object"
I have many different "sites" with their own globals. Each site represents a location.

I'm trying to query their globals using

[code]

I can see all the auto suggestions so this seems like it should work.

However, I get `"error": "Trying to get property 'handle' of non-object"`

I see a similar issue here: https://github.com/markhuot/craftql/issues/223

But I'm not entirely sure how this was so

[2019-04-02 20:30] millman2394 opened #255 "Query all globals from all sites"
Is there a way to loop through ALL sites' globalsets?

Right now I can do:

[code]

removing the site parameter will just query the main site's information

[2019-04-04 01:34] bryanjhickey commented on #51
I am have the same issue:

I get a successful api response with `curl` passing the `--insecure` flag but get a CORS warning when attempting to access from the site

I have also tried running the site at `http://localhost:8080`

I have set my `craftql.php` to
[code]

I also tried specifying the site URL (and port for localhost) but same results

I wondered if it might be an issue with the security

[2019-04-04 22:38] bryanjhickey opened #256 "CORS Error persists when config allowedOrigin is set to '*'"
I am have the same issue:

I get a successful api response with `curl` passing the `--insecure` flag but get a CORS warning when attempting to access from the site

I have also tried running the site at `http://localhost:8080`

I have set my `craftql.php` to
[code]

I also tried specifying the site URL (and port for localhost) but same results

I wondered if it might be an issue with the security

[2019-04-05 14:01] swthate commented on #251
Has anyone else here experienced any similar issues when attempting basic mutations in 2.0.0 beta?

[2019-04-08 08:26] sjimster opened #257 "Mutate categories on a user"
### Hi Guys,

In my app i have a couple of users with a select field for categories. When i query a user i get back the categories connect to a user, but when i try to update/mutate a user i get an error in CraftQL.

### This is my Mutation

`mutation UpsertUser($id: Int!, $userTags: [UserTagsCategoryInput]) {
  upsertUser(id: $id, userTags: $userTags) {
    id
    userTags {
      id
    }
  }
}`

[2019-04-08 23:17] kellypacker commented on #236
I'm getting this error with PHP 7.1.26, Craft 3.1.21.1 and CraftQL 1.3.1.
Is there a version of PHP and Craft that will work with this version of CraftQL? Or maybe a different version of CraftQL?

[2019-04-09 07:22] seamofreality commented on #248
Tested the dev-248-fix too (on Craft 3.1.20.1), got this error:

[code]

Trying to query categories and their child entries:

[code]

[2019-04-09 08:55] seidtgeist commented on #92
@markhuot Might it make sense to have a per-query setting for the default status of entries, related entries and other queries?

It would be the difference between adding at least one `status` field to every query of every page (which would potentially be a lot of work), and having a different preview endpoint, or a query string parameter for setting the default status (effectively creating a prev

[2019-04-09 09:19] narration-sd commented on #92
Sounds like a directive, doesn't it?  Fun to write...

[2019-04-09 09:24] seidtgeist commented on #92
Ohey @narration-sd! I realize I never got back to your email, sorry about that. I just got around to working on the preview side of things yesterday, and I‘ll have a closer look with @pauloelias soon!

[2019-04-09 09:31] narration-sd commented on #92
A smile. I looked you up, so not having surprises ;). A few days more will just get you something nice, I promise, so not a rush. Let's speak later, all right? Mark will be having kittens for this off-topic. Maybe there's an idea here for him, anyway.

[2019-04-09 09:33] narration-sd commented on #92
p.s.  Live previews are fine; the nice thing is about a huge acceleration in setting them up. I think you'll appreciate it.

[2019-04-09 14:10] seamofreality commented on #248
@brandonkelly Thanks a dozen for the quick fix, it seems to work now!

[2019-04-09 18:19] pauloelias commented on #220
Hey @markhuot,

Have you had a chance to look into the `Error: Must be named. Unexpected name: .` error references in my [previous comment](https://github.com/markhuot/craftql/issues/220#issuecomment-472220532)?

[2019-04-10 04:22] bryanjhickey commented on #256
Is there a way to test that `craftql.php` configs are being implemented?

[2019-04-10 07:33] mikeebee opened #259 "Can't upsert to SuperTable field"
I'm fairly new to GraphQL so I may be missing something but I am trying to upsert into a SuperTable field.

I can query the field fine like this...

[code]

But when I try and do a mutation I get this error:

`Uncaught (in promise) Error: GraphQL error: Unknown argument "userAnswersTest" on field "upsertSubmission" of type "Mutation".`

Are SuperTable mutations enabled?

Many thanks

[2019-04-10 13:59] remmar13 opened #260 "Error: numeric values which violates the GraphQL spec"
Hi,

First i want to say, thanks so much for making this plugin for Craft, it's super!

After i upgraded from Craft 2 -> Craft 3, I get this error inside the GraphQL testing tool inside the dashboard.

`"error": "The 'heading_level' field contains numeric values which violates the GraphQL spec. Please use string based values instead."`

Do you know why this error occurs?

Note: Some of my matrix f

[2019-04-10 14:17] remmar13 commented on #260
With some luck i found out that my field `heading_level` was a radio button with numbers as value.

[2019-04-10 14:17] #260 closed

[2019-04-11 21:05] tinchalamo opened #261 "Many to Many Compability"
How hard would it be to make the Many to Many plugin compatible with CraftQL?

https://github.com/Pageworks/craft-manytomany

[2019-04-12 18:13] slebbo opened #263 "Error: Setting unknown property: craft\\web\\twig\\variables\\Paginate::limit"
After updating to the latest version of Craft, something what seems to be Twig-related stopped working.

My CraftQL query:
[code]

The response
[code]

I only ran into the error when using those categoryConnection queries.

My setup:
Craft edition & version | Craft Solo 3.1.22
CraftQL | 1.3.1
Yii version | 2.0.17
Twig version | 2.7.4
Guzzle version | 6.3.3
PHP version | 7.3.1
OS version | Linux 4.

[2019-04-15 16:03] #248 closed

[2019-04-15 16:15] markhuot commented on #263
This should be fixed by the 1.3.2 release

[2019-04-15 16:15] #263 closed

[2019-04-15 16:23] slebbo commented on #263
Wow! Thanks for that update! I just started to rewrite a workaround in Element API :D

[2019-04-18 00:02] mikeebee commented on #113
Hey @markhuot! :) Are you still planning to copy some of these bits over to master at some point?

I've been building using `1.3.1` and then tried to switch to the `batch-queries-defer` repo to see if I can solve some `Deadlock found when trying to get lock; try restarting transaction` errors when trying to create many entries via a mutation, but I got a few `Cannot query field X on type X` errors

[2019-04-19 10:53] sebastian-lenz opened #264 "Schema::getField throws an error for unknown fields"
As `Schema::getField` has an annotation of the return type, the code is not allowed to return `false`. It think we should remove the return type annotation to fix this issue.

https://github.com/markhuot/craftql/blob/d6d534384c5d338886b5513f6658d4660ada23d7/src/Builders/Schema.php#L213

[2019-04-19 10:56] sebastian-lenz commented on #264
See https://github.com/markhuot/craftql/pull/265

[2019-04-22 20:30] nickroberts commented on #220
I'm having issues when using enums for the site param.

Here is my query:
[code]
Here is the response:
[code]
I can query by `siteId` and it works as expected.

I also tried blowing away the vendor folder, but I'm still getting this error.

[2019-04-23 09:09] roelvanhintum opened #266 "GetFieldSchema access to requested entry for SeoMatic support"
Is it possible to get access to the requested entry from a custom CraftQLSchema? I'm working on Seomatic support, which needs access to the URI of the entry.

[2019-04-23 10:39] Wiejeben opened #267 "Fetch fragment types not compatible with PHP 7.3"
When running `./craft craftql/tools/fetch-fragment-types` I get the following output:

Switching back to PHP 7.2 fixes it.

[2019-04-23 20:33] tinchalamo opened #268 "Compatibility with Store Hours fieldtype"
Possible to add compatibility with Pixel and Tonic's [Store Hours](https://github.com/craftcms/store-hours) fieldtype? I left an issue on their repo as well: https://github.com/craftcms/store-hours/issues/34

[2019-04-23 20:33] #261 closed

[2019-04-24 04:59] bryanjhickey commented on #256
Persisting with this issue.

POST seems to work fine ....

[code]

But GET not so much ...

[code]

`craftql.php` is still as shown above with `allowedOrigins' => [ '*' ]`

[2019-04-24 07:28] narration-sd commented on #256
Fellows, I haven’t spare moments to look back into this (truly, doing high wire acts to get two products out the door), but if it hasn’t changed recently, CraftQL doesn’t deal in gets. Only posts.

I suspect this is what you’re actually running into, that its not even getting to the check on origins allowance before rejecting.

There are many questions about gets apropos; you’d have to be escaping

[2019-04-30 02:44] xjnny commented on #125
Hey! Unfortunately I have run into the same issue as @joshangell

I have an existing dropdown field with handle `imageSize` and a Matrix dropdown subfield with the handle `imageSize`. Both `imageSize` dropdown fields have different values.

When I go to query the Matrix `imageSize` dropdown field I receive the error:
`{
  "error": "Expected a value of type \"ImageSizeEnum\" but received: \"large\"

[2019-04-30 15:43] jpeacock opened #269 "New Matrix blocks aren't created with upsert mutation"
I'm having trouble with adding additional Matrix blocks to an existing block. If I pass in multiple offer:{}, it'll create new ones, but if I back it down to a single one, it deletes the others and just updates/creates a single one. Following the comments in #105 I've tried passing in an empty id, not passing an id, etc and it still only passes in data to the existing Matrix blocks.

[code]

[2019-05-04 13:04] j2is opened #270 "Merge imager branch into master"
Would you be able to integrate Imager support into the master branch? Is there a testing process that needs to be followed? Happy to help

[2019-05-05 20:16] juliansthl commented on #254
I'm facing the same issue.
Would be nice to see this fixed.

[2019-05-09 06:44] Hyra opened #271 ""Trying to get property 'handle' of non-object" when adding a Category Group"
For some reason all is working fine until I add a Category Group. From that moment on all GraphQL queries (and graphiql) give the error:

"Trying to get property 'handle' of non-object"

When i run a craftql command through the command line I get a little bit more info:

[code]

[2019-05-09 07:56] Wiejeben commented on #197
Looks like that feature is in the works for CraftQL version 2: https://github.com/markhuot/craftql/pull/232

[2019-05-09 09:28] j2is commented on #197
That’s great news!

[2019-05-09 09:47] tinchalamo opened #272 "Compatibility with Linkit"
Possible to add compatibility for the [Linkit fieldtype](https://github.com/fruitstudios/craft-linkit)? There's an issue on their repo as well: https://github.com/fruitstudios/craft-linkit/issues/61

[2019-05-09 09:55] mdunbavan commented on #194
@narration-sd, @boxadesign, @markhuot

This issue is still happening for me and I cannot figure out what is going on.

[2019-05-09 17:00] PhillipRichdale commented on #236
Same problem here. PHP 7.3.4, Craft 3.1.21, CraftQL 1.3.2. Very frustrating, spent the entire day trying to fix this. Any updates on the issue?

[2019-05-10 10:40] PhillipRichdale commented on #236
The fix is to replace all the "continue;"s with "break;"s, as said in the PHP Warnings.

[2019-05-10 11:14] mdunbavan commented on #58
Hey I am still getting this error from my code below

[code]

[2019-05-13 11:01] juliansthl commented on #271
maybe related to https://github.com/markhuot/craftql/issues/254 ?

[2019-05-15 17:27] 919Studios opened #273 "CratQL:Getting Started - Documentation Question"
Hello @markhuot! I’m a bit of a novice and wondered if you or anyone might be able to help me understand **which parts of the examples are meant for twig**, for running in **the craftQL interface itself,** and which parts that are **meant for curl**.

Thank you in advance, I really appreciate your help!

[2019-05-17 10:08] mdunbavan opened #274 "** Bug on GraphiQL interface"
Running versions:

Latest craft
Plugin v: 1.3

Screenshot below of interface errors:

<img width="1217" alt="Screenshot 2019-05-17 at 11 07 09" src="https://user-images.githubusercontent.com/671281/57920841-ecce9d00-7893-11e9-96c0-0dc60f986fee.png">

Then when I look in console I see this error below:

<img width="1440" alt="Screenshot 2019-05-17 at 11 07 47" src="https://user-images.githubusercon

[2019-05-20 02:45] mikeebee commented on #207
@simonfranzen hey, did you get this up and running with Commerce ok? Wondering what kind of effort is involved and whether to move forward with this for a site I'm about to build.

[2019-05-22 17:12] nelhop opened #275 "tokens are not visible in backend"
Suddenly existing CraftQL tokens are no longer visible in the backend.

The tokens are still present, since the api endpoint is working fine. But I need to do some changes, so I need to access the tokens in the backend. Unfortunately I can't tell exactly until when this occurs.
When I "Create a new token" ist will be visible. But I am missing the old / existing ones.

![Screenshot](https://user-im

[2019-05-23 11:48] khalwat opened #276 "Returning an array of arrays"
Thanks to @markhuot for the help, we've added CraftQL support to SEOmatic: https://github.com/nystudio107/craft-seomatic/blob/v3/src/listeners/GetCraftQLSchema.php

But in addition to returning pre-rendered metadata, SEOmatic can return everything as an array, and people people want that option: https://github.com/nystudio107/craft-seomatic/issues/401

My question is... how would I return an array

[2019-05-27 13:43] NCFIC opened #277 "Assets query returning null"
Running this query:
[code]
Returns:
[code]
I can confirm that there are assets in the database.

**Craft**: 3.1.25
**CraftQL**: 1.3.2

Any suggestions? Thanks! :)

[2019-05-28 13:10] emukupa opened #278 "craftql server crashes after a few days of running | Error: Cannot use craft\elements\Entry as Entry"
I have installed the craftql plugin to run graphql on craft. But, I cant keep the server more than a few days. It crashes without cause. I usually delete the plugin and then install it again and that fixes the issue. I want a permanent solution to this problem.

When I look throung the logs, this is the error I get:
yii\base\ErrorException: Cannot use craft\elements\Entry as Entry because the name

[2019-05-29 20:37] simonfranzen commented on #207
hey @mikeebee,

I think its possible to extend the graphql API with custom data. So it's possible to get Commerce running, but I am not sure about the effort. For our project we decided to go with Shopfiy and use their GraphQL API. So our page is pretty simple:

- GhostCMS for Blog content
- Shopify for Shop
- Checkout is on Shopfiy Page
- React.js frontend

We also made a small prototype with gat

[2019-05-29 23:22] mikeebee commented on #207
@simonfranzen thanks so much for following up. I'm locked into Craft for this site with this but thanks for the outline of your solution!

It looks like I'm going to have to use the Element API and then some custom API to post stuff back into Craft, which is a shame.

[2019-05-31 15:31] markhuot commented on #276
This is complex to do in GraphQL. Not impossible, but it's going to require quite a few types. For example, given your above response, you'd need a `metaTagContainer` field which returns a `MetaTagContainer` object which has a `generator` field which could return a `MetaTag` object which has `content` and `name` string fields?

Can you give me an example of the "nesting" that you're referring to?

[2019-05-31 15:32] khalwat commented on #276
So... this is where it gets sticky but the JSON-LD container, for instance... it returns schema.org JSON-LD arrays, which can be nested arbitrarily deep. Any schema.org type can contain another schema.org type, with no cap on the number of levels deep that this is.

[2019-05-31 15:38] markhuot commented on #276
Gotcha, so then you've have to map _every_ schema.org Type to a GraphQL "type" in order to support that level of nesting, which is why things like this exist over in the Node ecosystem, https://github.com/cape-io/graphql-schema-org.

Some wacky ways to do this:

1. when `asArray:` is passed return a JSON string instead of the HTML string. It'd then be up to the consumer to deal with decoding it. T

[2019-05-31 15:48] timkelty opened #279 "Make craftql_tokens.scopes column TEXT"
Started getting an error on my scopes page, as the JSON for scopes went over the varchar limit.

Probably best to make this column TEXT to avoid this.

[2019-05-31 17:24] khalwat commented on #276
Yeah I'd thought of #1 @markhuot and thought it was gross but probably okay for this use-case. Thanks!

[2019-06-04 11:11] tinchalamo commented on #220
@pauloelias how did you get rid of the "Unable to verify your data submission." error? I'm on a fresh install of Craft 3.1.28 with CraftQL 1.3.2 and cannot get past this error.

[2019-06-04 17:27] #276 closed

[2019-06-05 07:11] monachilada commented on #31
The tokenized preview feature has now been added to the Craft 3.2 alphas! :) See commit: https://github.com/craftcms/cms/commit/197ce312dd641dcad5838fcb442dfef27da538c1

From @brandonkelly's description:

This works great in terms of what gets passed to the Live Preview iframe, but I'm struggling to figure out in which way that token needs to be passed through my CraftQL queries or requests to get

[2019-06-05 12:28] brandonkelly commented on #31
@monachilada Add something like this to your JS:

[code]

If you’ve set a custom [tokenParam](https://docs.craftcms.com/v3/config/config-settings.html#tokenparam) config setting, use that instead of `token` here.

CraftQL uses element queries internally to fetch its content, so in theory this will just work, and you’ll start seeing draft content sent back when a token is present.

[2019-06-06 12:46] juliansthl commented on #157
same happening for me

[2019-06-06 18:15] BrewCurious opened #280 "[Feature Request] Expose Previous Versions of Entries"
Would it be possible to expose previous versions of entities from a CraftQL query? Either by modifying the entry/entries queries to include both an `id` and a `versionId` to allow for polling previous versions of entry content or by creating a separate version( ... ) query similar to the draft( ... ) query? That would allow for inclusion of additional non-live-version elements to be returned too (

[2019-06-07 22:09] pauloelias commented on #220
@tinchalamo if I remember correctly I had to blow out the `cpresources` cache or enable the proper read permissions in the app

[2019-06-12 20:28] narration-sd commented on #220
@pauloelias Paulo, I'm getting  this "Unable...data submission" also, on an abso fresh install of Craft, w/CraftQL from the Plugin Store, which results in CraftQL 1.3.2.

rm -r cpresources has no good effect. Site otherwise is fine, and as you found, curl access is fine, as is for the most part remote Gatsby access.

- can you remember anything else you might have done?
- @markhuot, is there somet

[2019-06-12 21:47] narration-sd commented on #7
@markhuot could this have had a regression?  As you'll see from other note, I'm getting this on a fresh install of Craft 3.1.30 with normative CraftQL 1.3.2 off the plugin store -- a validity testing site for my own plugin, but  it's not in there -- only Redactor and ElementApi.

[2019-06-13 18:38] 8cylinder opened #281 "User level authorization"
I am making a vue todo app using Craft as a headless server.  I want users to be able to sign up and do CRUD actions on their own lists.  I want people to be able to sign up, go through email authorization and then be able to create/edit/etc their own lists.

1. How do I keep api access only to logged in users?   I can use `{% requireLogin %}` on a page that access the data via ajax, but that won'

[2019-06-17 04:48] bryanjhickey commented on #256
Thanks for the explanations

[2019-06-17 04:48] #256 closed

[2019-06-17 06:33] #266 closed

[2019-06-18 03:34] SnarkieDesign commented on #31
@brandonkelly 🤔 I'm getting CORS issues when forwarding the token to my SPA. Happening on both 3.2 beta and alpha
[code]

[2019-06-18 09:57] brandonkelly commented on #31
@SnarkieDesign I’ve just disabled CSRF validation for preview requests, for the next 3.2 Beta release.

To get the fix early, change your `craftcms/cms` requirement in composer.json to:

[code]

Then run `composer update`. And then you should be able to re-enable your `enableCsrfProtection` config setting.

[2019-06-21 09:46] Tam opened #282 "Add custom queries and mutations"
Is it possible / how would I go about adding custom queries and mutations to the Graph API that aren't related to a field? Specifically, I'm trying to tie in some custom functionallity we've written for Craft into the Graph API.

[2019-06-21 15:27] bzin commented on #250
@markhuot wondering if you already consider this.

On a personal note, most of my projects do have `allowAdminChanges` set to `false` so no changes on production. If I update or create new Sections, Entry types, new globals these are not updated  when deploying. I need to execute these manually on all enviroments.

I see this quite crucial for the usage of this plugin if we intend to use Craft 3 a

[2019-06-21 19:30] ashtonlance commented on #269
@jpeacock Have you had any luck with this? Currently running into the same issue and have tried passing in an empty id, not passing an id, etc as well.

[2019-06-21 19:42] jpeacock commented on #269
@ashtonlance no, I didn't have any luck. Ended up switching to a custom REST endpoint for writing data.

[2019-06-21 19:54] ashtonlance commented on #269
Bummer. I really wanna stick with CraftQl. @markhuot Any ideas? My code is below:

[code]

[2019-06-27 14:12] ParallelUniv3rse opened #284 "Matix field dropdown enums not returning correct enum values"
Hi,

I've stumbled upon this issue while defining page modules in a matrix field.
Each module in the field has a "spacing" option, which is a dropdown. All modules have the options "Both", "Top only" "Bottom only" in the dropdown except one which also has  "none".

Query for the "spacing" field fails for that module because the definitions of spacing enum seem to be shared across modules although

[2019-06-28 19:35] ashtonlance commented on #116
@kristian-wcd I know this issue is closed but have you successfully been able to use this?
With the code below, I get an `  "error": "A non well formed numeric value encountered"`

[code]

[2019-06-28 20:50] ashtonlance opened #287 "testCategoriesMutation fails with error"
Been banging my head trying to figure this one out. Ended up running the test and it failed with the same error I was getting in IDE.

"error": "A non well formed numeric value encountered"

PHP 7.3
Craft CMS 3.1.32.1

[2019-06-29 01:50] dstrunk commented on #287
@ashtonlance can you verify that the variable being passed is an integer instead of a string? what exactly is being passed … also what are you trying to do?

[2019-06-29 13:04] ashtonlance commented on #287
@dstrunk Thanks for getting back to me. Basically I'm trying to add a category to a Categories relationship field on an entry type called Projects.

Per `MutationTest.php` -- an object should be passed to the mutation
[code]

My code reads as:
[code]
With `$selectedCat` being an object looking like this `[{id: 48}]` -- 48 is the id of the category I want to assign to the entry.

[2019-07-01 12:05] lastgiven commented on #86
Is there any Documentation in regards to grabbing data from neo in CraftQL or is this still not in production?

My Neo Fields are shown as a String so just want to confirm this.

[2019-07-01 16:29] zimkha commented on #236
hi i have the same problem with my graphql. I have this error that prevents me from advancing on my project. Please, how to solve this error because I galley in this moment

[2019-07-01 21:48] jacksoncool opened #288 "TypeScript: Failed to Connect"
After I install Craftql, i get the following error in the Graphiql: Typescript: failed to connect in the Graphiql.

This error still occurs even after I set up my token, and set permissions to different sections.

[2019-07-01 23:30] narration-sd commented on #288
@jacksoncool  You should probably include your details of what CraftQL version, what Craft version, what other plugins you may be running, etc..

CraftQL has been working for many months, and your connect issue seems unusual. You can run iql without a specified token from the icon on the left vertical menubar the Craft CP -- see if it shows without the error from there.

If so, run a query as belo

[2019-07-02 08:33] lastgiven commented on #86
@markhuot Sorry for the spam. But I need to make a final desition today if I am going to use CraftQl or element API.

[2019-07-02 15:45] theAdhocracy commented on #222
Seeing the same issue for the **time** table field as well. I have three columns, two of which are strings and return without issues; if I add the time column ("startTime") to a query it fails with _internal server error_ pointing to that line.

[2019-07-02 16:05] narration-sd commented on #86
@lastgiven et al, I think if you want Neo, you'll need to contact the folks who've taken it over -- https://github.com/spicywebau/craft-neo.

They'd need to make the connections for CraftQL themselves, as they're responsible for it.  You can read about this on the front page of the CraftQL site, here: https://github.com/markhuot/craftql#third-party-field-support.

Neo's 'freedom to go wild' may se

[2019-07-02 16:16] jacksoncool commented on #288
I have the latest version of CraftQL 1.3.2 ( a fresh install) and the latest version of Craft CMS (Craft Solo 3.1.32.1.) Additionally, I did previously try to query helloWorld (the first thing i tried) and got the same error.

[2019-07-02 16:29] jacksoncool commented on #274
@mdunbavan did you ever get this error fixed?

[2019-07-02 16:43] lastgiven commented on #86
@narration-sd Yeah, I get what you are saying. But @markhuot contributed to the NEO plugin a while ago to get it working and that pull request of his got removed for some reason.

See here: https://github.com/spicywebau/craft-neo/issues/173

So that is why I asked here if there is some sort of feedback in regards to this seeing that the discussion between the tow plugin builders already started

[2019-07-02 17:14] narration-sd commented on #86
Hmm, yes, an amount of activity over there, and some hacks that apparently worked in a simple fashion, or for a while.

I think this gets at the root of it, though. Neo was an attempt to wire around Craft's viewpoint on sensible design, while Bend long resisted bringing its apparent function inside. The guy who build it faded as Craft moved on without it tieing their hands, walked away.

Recently,

[2019-07-02 17:22] narration-sd commented on #86
As a p.s., I should say that my positive views on CraftQL are probably influenced also by long  work on a plugin I'm about to put into public, which moved on from ElementApi quite a while ago.

[2019-07-02 17:35] lastgiven commented on #86
I agree with 100%.

Unfortunately, my hands are tied at the moment when it comes to using NEO.

We are busy upgrading an existing project over to Craft 3 where we used NEO as one of the major points in the project so it will take me way too long to convert that over to something else. So yeah if development was easy and all the plugins worked well together in dreamland, the transfer over to a head

[2019-07-02 17:55] narration-sd commented on #86
Thank, and you too :)

Here's a thought. How about just using EApi/Neo where you can't root it out (one page or so, we could hope??), and formatting the rest of the upgrade using CraftQL?

Would smooth a way forward, maybe...anyway, best fortune, and cheers...

[2019-07-03 20:29] jacksoncool commented on #288
figured out the url i was accessing the admin with was different than the base url inside the admin. So that's why i wasn't getting anything.

[2019-07-03 20:29] #288 closed

[2019-07-03 21:27] cmmize commented on #215
So I'm having the same issue as @dannyryanuk.   I have set up the api token as @pauloelias has suggested and getting the same errors{ "error": "Unable to verify your data submission." }.  The base url is set to $DEFAULT_SITE_URL.  This is a local install as I am in the development phase of project.

Query:
{
  entries(section: "brand") {
    title
  }
}

Results:
{
  "error": "Unable to verify you

[2019-07-04 02:14] jasonmccallister commented on #267
Also having the same issue, not going to switch back to 7.2 to resolve though (maybe)...

[2019-07-06 08:33] monachilada commented on #251
Yes, I'm seeing this too. I can update fine when providing the id of an existing entry, but trying to add a new entry returns the same result. I guess it's because the insert is failing and so then when the attempt to return results happens it finds nothing and throws this message. So what is actually going on is upserting is failing for some (validation?) reason.

[2019-07-10 10:10] davorpeic commented on #246
@jan-thoma Please close this issue. 10x

[2019-07-10 10:56] #246 closed

[2019-07-12 10:45] ParallelUniv3rse commented on #223
+1.
Creating any global and then removing it from craft produces this issue. Unable to query anything from `globals` afterwards.
Fix by @jermashley works.

[2019-07-12 20:50] paco-antley commented on #223
Having the same issue.
@jermashley thanks for the fix, it works great.

[2019-07-15 14:36] ashtonlance commented on #287
@markhuot @dstrunk Any ideas here?

[2019-07-17 14:23] githubmatin opened #292 "entry"

[2019-07-17 14:24] githubmatin opened #293 "current entry"

[2019-07-17 14:26] githubmatin opened #294 "How to pass slug value dyanmically?"
I want to get details for the current entry.

[2019-07-17 15:32] #292 closed

[2019-07-17 21:42] codyjames commented on #31
Has anybody gotten CraftQL to work with the new Headless Preview and draft set-up?

[2019-07-17 21:58] narration-sd commented on #31
https://github.com/craftcms/cms/issues/4584#issuecomment-512569473

[2019-07-17 23:27] codyjames commented on #31
@brandonkelly Is the goal here that we won't have to write specific _draft_ queries, but rather we'd just have to include the token in the request and it'd return the associated draft?

[2019-07-18 00:16] brandonkelly commented on #31
@codyjames Yep that’s the goal. It’s not perfect yet for unsaved/disabled entries (see craftcms/cms#4581), but we’re getting there.

[2019-07-18 16:24] codyjames commented on #31
@brandonkelly Okay great, that'll be so great. Yeah, I was running into the unsaved/disabled issue. It'd be _fantastic_ if the token made it so the associated entry was considered "enabled" when the token was present.

[2019-07-18 19:09] brandonkelly commented on #31
Yeah, that’s the general idea of how we could solve this. For unsaved drafts it’s a little more complicated because we also have to let it ignore the `draft` status for that one element.

[2019-07-18 23:10] brandonkelly commented on #31
@codyjames Craft 3.2.5 should fix this. Details and info on how you can test here: https://github.com/craftcms/cms/issues/4581#issuecomment-513026880

[2019-07-19 17:22] codyjames commented on #31
@brandonkelly Okay, this is working for me. I love it. We're using it for a Next.js app and it is working like a charm.

[2019-07-19 19:00] brandonkelly commented on #31
Awesome!

[2019-07-19 19:01] brandonkelly commented on #31
By the way, the official 3.2.5 release is out now, which fixes a bug introduced by my original commit referenced above. So make sure you’re running that.

[2019-07-21 21:48] Jones-S commented on #194
@nelhop

I am having the same issue. Redirects seem to work but I also access
frontend and backend the same way:
FE: http://localhost:8888/web/
BE: http://localhost:8888/web/admin/dashboard

So I assume that I have the same problem.
But what do you exactly mean by updating the document_root?
Would that mean I have to change the root folder within MAMP for example?
But where should it point to?
to

[2019-07-22 04:34] minyangu-bgl commented on #267
Enchanting the same issue after upgrading to PHP 7.3.

@markhuot can you take a look so we can stick with the latest stable php ver?

[2019-07-24 18:54] dineufeld commented on #86
If somebody looking for alternative for your next project take look at WordPress Advanced Custom Fields and new released GraphQL Plugin: [WPGraphQL](https://github.com/wp-graphql/wp-graphql-acf). If your project requires flexibility and modular layout it my be worth it.

[2019-07-27 10:04] howells opened #297 "Not authorized when logged out, using Apollo"
I know this has been discussed before in #58 but I'm still having issues regardless of whether PHP is run as in CGI/module mode.

I'm using Apollo to request, and works absolutely fine when I'm logged into the CP, but not when I'm logged out and I'm struggling to understand why. This is my ApolloClient config:

[code]

When I request I get `Error: GraphQL error: Not authorized`.

Is it obvious whe

[2019-07-27 13:49] howells commented on #297
Update: looks like #158 help me resolve this - `SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0` is needed, not `SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1` as per #58

[2019-07-27 13:49] #297 closed

[2019-07-30 13:19] LeeCampbellr commented on #231
Not trying to hijack this - but have been reading through a lot of the Gatsby/ CraftQL issues and this one hits closest to where I am. Would be happy to move into a new issue if preferred.

Simply - using the @date directive doesn't work as discussed above. Though also the Gatsby date formatter doesn't work either. At first I assumed this was a Gatsby issue though reading through some date issues

[2019-07-30 22:16] narration-sd commented on #231
Hmm, I looked into this again, also for the forthcoming Live Vue for Craft previews plugin.

The base issue is still apparently present, that Gatsby isn't reckoning that there's an @date directive when it accesses the schema. So it won't know how to apply anything that uses this. I'm a little chary of that '(formatString: '') form invented onto GraphQL also, but at this point it doesn't matter.

A

[2019-07-31 18:20] narration-sd commented on #231
@LeeCampbellr , a little follow-on here.

- I got a little off track of what you were actually saying. Yes, I think the problem on `dateCreated(formatString: 'xyz')` is in Gatsby's driver. What I said about directives stands, I believe, but this other path you are trying doesn't work either.
- I did code up the example to come out with Live Vue using the meansI suggested -- just retrieve the unmod

[2019-08-02 12:56] ParallelUniv3rse opened #298 "Limiting first Link field occurence to a certain type makes other Link fields with different type throw an error"
As the title says. I've set up matrix field modules which contain buttons of Link Field type. Later on created a link field global and limited that to Entry type only. All the other Link filelds started trowing internal server errors.

When I turned off the global Link field limitation, everything was fine again.

[2019-08-02 12:58] ParallelUniv3rse commented on #294
Depending on the library you use o execute graphQL queries.

You should pass it in as param of the query call.

[2019-08-02 14:35] ParallelUniv3rse commented on #298
Probably related to #284

[2019-08-05 12:16] studiolathe opened #299 "Error on installation, won't run helloWorld test"
Starting a new project using Craft headless w/ Nuxt.js and have installed CraftQL but am receiving the below error when running helloWorld test or any other queries when testing with GraphiQL.

Query:
[code]

Error:
[code]

Running locally on:
[code]
Any help or examples of using Craft headless w/ Nuxt.js would be greatly appreciated!

[2019-08-06 06:05] studiolathe commented on #299
Have been able to fix the issue by changing my MAMP Pro 5.x PHP settings from `7.3.7` to `7.2.20`.

@markhuot is this expected behaviour or does the plugin only currently work with `PHP 7.3.7`?

[2019-08-07 18:51] emarthinsen commented on #267
Same issue here.

[2019-08-09 10:11] samput opened #300 "Cannot query field <field> on type <entry-type> if field is checkbox and checkbox values are numbers (int)"
Can't query field if checkbox structure is using numbers as values e.g.
[code]

Works if checkbox values are strings e.g.
[code]

[2019-08-12 00:07] daltonrooney opened #302 "Error "Uknown Type" on some entry types"
I'm running into a problem with a query that seems like it should work. The funny thing is that it _does_ work in the CraftQL query editor in the CP. But when I run the same query from my app, I get an error.

Section: resources
Entry types: report, course, policy, toolkit

Running this query on the backend successfully returns 3 entries:

[code]

Here's the data that's returned:

[code]

But when

[2019-08-12 04:06] daltonrooney commented on #302
Solved. I didn't realize you needed to approve new entry types in the token settings before they are available in the API.

[2019-08-12 04:06] #302 closed

[2019-08-12 14:48] ashtonlance commented on #287
Fixed in #301

[2019-08-12 21:12] timack opened #303 "Error with Variables on POST request"
I'm using a React App on the front end to communicate with the CraftQL API endpoint, I'm also using the [graphql.js](https://github.com/f/graphql.js) library to make the requests.

I'm getting this error:
[code]

The request is set up on the front end as follows:

[code]

The issue seems to be that that the POST variables data is not json_decoded like the GET variables in ApiController.php:

[code

[2019-08-14 11:49] theAdhocracy opened #305 "Internal Server Error after update, cannot generate Schema"
Since updating to the latest version of Craft (Solo 3.2.10) we haven't been able to use CraftQL. All API queries are returning with HTTP 500 errors (Internal Server Error) but I can't work out why. The URL being queried is correct, so CraftQL appears to be using the right system values.

GraphiQL shows an error message of `An unknown error occurred` and cannot load Docs panel. When I look in Yii D

[2019-08-14 14:15] theAdhocracy commented on #305
Nevermind, still not too sure what the root issue was but I deleted my vendor folder and composer.lock file and ran a `composer update` locally, then transferred the new files to my server and that fixed the issue.

[2019-08-14 14:15] #305 closed

[2019-08-16 07:08] minyangu-bgl commented on #223
Experiencing the same issue.

@markhuot, will you be able to make a release soon?

[2019-08-16 11:42] Jones-S commented on #158
I have the same problem. It works if I authenticate from a remote server, but on localhost it keeps throwing «Not authorized».
I have Mojave, Mamp Pro 5.3, I have added `SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0` to `web/.htaccess` and added it within the MAMP Settings:
<img width="571" alt="image" src="https://user-images.githubusercontent.com/7059580/63165381-87718000-c02b-11e9-8b3d-374ee6

[2019-08-16 13:47] Jones-S commented on #158
Ok I found a way:
That's what did the trick for me:

<img width="535" alt="image" src="https://user-images.githubusercontent.com/7059580/63171916-d542b400-c03c-11e9-8f3f-1f331f70089f.png">
<img width="571" alt="image" src="https://user-images.githubusercontent.com/7059580/63172022-0d49f700-c03d-11e9-80e6-834e02d27022.png">

[code]
Found from here:
https://support.deskpro.com/en/kb/articles/missing

[2019-08-16 14:31] Jones-S commented on #31
I see there has been some progress on this issue. But what I don't really know:
1. is it possible to get the newest draft via GraphQL by adding this new token from craft
2. If so, how does a request look like. I can't my head get around how I should send that token. Also because my apollo client already sends the Bearer token to get access to the graphql service.

Thanks in advance.
cheers

[2019-08-16 14:52] Jones-S commented on #23
I understand that I can query the drafts for an article with the id = 5
like this
[code]

But how could I only get the newest draft?

[2019-08-17 20:16] lukehmu opened #306 "Using graphql-tag in my query causes a 500 error"
Hello,

I wanted some syntax highlighting in my queries in VS Code, so I installed [graphql-tag](https://github.com/apollographql/graphql-tag) and an appropriate plugin.

I *think* this means I can use the following syntax:
[code]

This makes for a prettier query:
![image](https://user-images.githubusercontent.com/1893145/63216865-dc98b900-c133-11e9-8a86-b3f7fdae2252.png)
Instead of:
![image](http

[2019-08-17 20:23] lukehmu commented on #306
Quick edit, after a little more reading, it seems that using `gql` transforms my query into something different - so nevermind!

Out of interest, what do you use for highlighting your template literals/queries?

[2019-08-19 01:44] narration-sd commented on #23
@Jones-S , no need to apologize at all.

I think:
- no form of GraphQL itself supports this; those in charge of it are very adamant they don't want to get into implementing detail db queries. Only a special resolver function, which you can't add from outside CraftQL, could do what you want.
- of course people have provided front-ends that do such things, but they would have had to be implemented w

[2019-08-19 13:06] rhoffmann commented on #158
I also ran into this issue and tried a lot of the above ideas. On our production Server the `bearer` in the auth header has to be capitalized as `Bearer`.

[2019-08-20 19:59] mauricioprado00 commented on #220
Problem is that it does not work when the url is set straight from the environment variables. Instead one needs to do this:

'siteUrl' => getenv('DEFAULT_SITE_URL')

[2019-08-21 14:16] ParallelUniv3rse commented on #300
Same issue here

[2019-08-21 14:21] ParallelUniv3rse commented on #306
I've overcome the same issue by just defining a function which keeps the ES6 string templating functionality and does nothing.

[code]

Then use the same way as `gql` - import in your file and prefix the string.

[2019-08-21 23:48] lukehmu commented on #31
Hi @Jones-S - I'm working on a Vue project where I'm using the CraftQL plugin. I have _just_ got preview working correctly.

As @brandonkelly said [here](https://github.com/markhuot/craftql/issues/31#issuecomment-499062235) you need to apend the craft token as a query parameter onto the request URL.

Excuse the syntax, I'm using Vue Router to get my query params & I've rewritten it a little to be

[2019-08-21 23:50] #306 closed

[2019-08-22 00:29] Jones-S commented on #31
@lukehmu
Thanks for your hint.
I myself got some kind of a working thing.
I checked for the x-craft-preview param as well and would then send another graphql query.
Where I would normally fetch a specific post I woudl this time go for a draft:

[code]
Here I fetch drafts and then I would dive into the node (that's where the actual data lies).
After getting that data I would just take the latest of

[2019-08-22 01:06] Jones-S opened #307 "HTTP 503 – Service Unavailable"
Hi there
I experienced a very weird error. While developing suddenly my graphql endpoint would not work anymore.

I get an html returned saying things like:

Stack trace:
#0 /Users/USERNAME/Documents/github/my-craft/vendor/markhuot/craftql/src/Controllers/ApiController.php(37): craft\web\Controller->beforeAction(Object(yii\base\InlineAction))
#1 /Users/USERNAME/Documents/github/my-craft/vendor/yii

[2019-08-22 01:16] Jones-S commented on #307
OK WOW:
Disabling this button in the backend:
<img width="144" alt="image" src="https://user-images.githubusercontent.com/7059580/63478676-fcf5aa00-c48a-11e9-861c-c4bba44b4373.png">
Found at admin -> `Settings > General`

Will break graphql?...
A mere wonder I found out...

Why would this cause such an error?

[2019-08-22 11:01] lukehmu commented on #31
@Jones-S I started to go down this route, too.

However, passing the token as a query string in the request URL works perfectly for me.

You can test this easily by previewing your entry, inspecting the preview, looking at the request URL and getting the token. Then hardcode the token in your app and you'll see the draft version! Then refactor to do it dynamically as per my example above.

Cheers.

[2019-08-26 11:13] jan-dh commented on #158
Same here, no idea why this was closed.

[2019-08-26 13:42] swthate commented on #158
@jan-dh I closed it because my issue was at least resolved, though perhaps not _solved_ nearly a year ago. It looks like there's quite a bit of activity back on this issue. I have not been using CraftQL myself for quite some time now, so I unfortunately have no wisdom for any of you to glean from, lol. But I think I have the power to reopen the ticket.

[2019-08-26 13:44] jan-dh commented on #158
Was testing out some things and the @Jones-S answers did work for me. 🎉

[2019-08-26 13:46] swthate commented on #158
I will leave it to the powers that be to deem this issue close-worthy or not 😆

Glad you got it working!

[2019-08-28 10:44] Jones-S opened #310 "Error: 301 Moved permanently / Unable to verify your data submission"
I have a craft installation together with craftql.
Since a short time I cannot only not query within the CP graphiql window – I would get this error: `Unable to verify your data submission` – but also the `$ curl` command fails with the message: `301 Moved permanently`.

I uninstalled CraftQL and reinstalled it, added a new token etc.
But still always the same error.

I don't have any idea what co

[2019-08-28 11:07] Jones-S commented on #310
Ok, I see a solution for the second problem now.
If I change
`'siteUrl'=> getenv('FRONTEND_URL'),` back to `'siteUrl'=> getenv('DEFAULT_SITE_URL'),`
it works again.

But I need the `siteUrl` to be set to my frontend url because the preview should open the iframe with my frontend url (headless setup)...

Any ideas why the first problem appeared and how I could solve my existing problem?

[2019-08-28 11:32] Jones-S commented on #31
@lukehmu
I see what you are doing and I am just trying to replicate in my setup.
My setup though makes use of apollo (nuxt apollo module). Would you have any hints on how to approach that?

Because normally if someone enters an url it would fetch the page via apollo normally.
Now I added some `middleware` that checks for the crafts preview token.
If present I want to get the draft data by adding t

[2019-08-28 11:50] Jones-S commented on #310
OK this ticket is really confusing. Sorry about that.
Just if somebody comes along and tries to find his errors, here are a few pointers where to look for errors:
- [ ] your .env DEFAULT_SITE_URL is set correctly?
- [ ] Your `siteUrl` is set to the site where your craft installation is running?
- [ ] Your API token is allowed to fetch the thing you want to fetch?

I hope that helps someone.

[2019-08-28 11:50] #310 closed

[2019-08-28 12:04] Jones-S opened #311 "How to use graphiqlFetchUrl setting (instead of default siteUrl)?"
Hi there

I read this https://github.com/markhuot/craftql/pull/135 PR, where @timkelty needed different `siteUrl` and `graphqlUrl`.
This is exactly what I need, but I don't know how to set it.

Could someone tell me how to actually use this new setting?
Sorry I am still new to craft and I don't always understand how things work...

Do I just have to add `graphiqlFetchUrl` inside my general config

[2019-08-28 12:22] Jones-S commented on #311
Hey thank you @timkelty  for your super fast response.
Just found out about that. The reason why it did not work the first time I tried, was because the `$DEFAULT_SITE_URL` was formatted like this:
`DEFAULT_SITE_URL="http://localdomain.test"` instead of
`DEFAULT_SITE_URL="http://localdomain.test/"`.

This caused this error:
<img width="456" alt="Screenshot 2019-08-28 at 14 19 44" src="https://user

[2019-08-28 12:22] #311 closed

[2019-08-29 02:55] minyangu-bgl opened #312 "DirectiveLocation not found on CraftQL 1.3.3"
After upgrading to 1.3.3, experiencing below error inside CraftQL's graphiql editor. There is no schema generated and can not run any queries.

This issue appears on both Craft CMS 3.2 and 3.3 version. Rolling back CraftQL to 1.3.2 with webonyx/graphql-php (v0.11.6), then everything works as usual.

[code]
Environments:
CraftQL version: **1.3.3**
Craft CMS version: **3.3** & **3.2**
PHP version: *

[2019-08-29 04:29] narration-sd commented on #312
Yes, just checked, and I'm getting that also - something needs to catch up, or is in progress on the Craft GraphQL side. I know Andris is working there.

In the mean time, you could try using Insomnia, https://insomnia.rest -- once you get the hang of its UX, it feels here at least a much nicer tool for things you'd do with internal graphiql, and I just checked it's working fine with 3.3 including

[2019-08-29 05:55] narration-sd commented on #312
Well, there's more to this -- I believe you're correct to think so, @minyangu-bgl .

When I try CraftQL's service directly inside of latest Craft 3.3, I get this error. And the same from outside attaching directly to CraffQL via Insomnia.

Tracing a bit, I find there are Php type mismatches.

In the Date directive code is the immediate cause of this error, needing a different source for defining D

[2019-08-29 07:55] Jones-S commented on #23
Thank you for your explanation. It was indeed about previews and in the meantime I got to work both of them. For the moment not with apollo, but just with an axios call where I forward the token. 👍

[2019-08-29 09:19] jrtderonde commented on #312
Same error here

[2019-08-29 09:28] rluijten commented on #312
+1

[2019-08-29 13:00] #312 closed

[2019-08-29 13:02] brandonkelly commented on #312
v1.3.4 is out now with a fix for this. Sorry for the trouble!

[2019-08-29 19:50] narration-sd commented on #312
Great stuff, @brandonkelly -- woke up after too-late engagement with Latvia and others, updated, and Live Vue now appears to prove out as ambidextrous with the two GraphQL flavors. Moving on...

[2019-08-29 21:31] narration-sd commented on #312
Hmm, looked at what you did, and I was half-way there, and aware of the other; just too late to go further in case there were more involved version issues present.

What seemed unusual to me is that the second error, for the argument list mismatch, didn't show  up in a php-errors.log, which I think we may not have anymore, nor in web.log.

Might have to do with xdebug having been in there, but do

[2019-08-30 03:05] minyangu-bgl commented on #312
1.3.4 works like a charm, thanks @brandonkelly for the quick fix.

[2019-08-30 15:48] Jones-S opened #313 "Error: Can't query field entries on type Query – but it actually works"
I am using a query like:
[code]

Within graphiql it gives me this error

<img width="408" alt="image" src="https://user-images.githubusercontent.com/7059580/64034027-1a430c00-cb4e-11e9-8c9b-b99fc0b22df3.png">

But when I run the command I get what I wanted. So it actually works...
Does anyone know if the error is wrong or if my query indeed is wrong?

Thank you

Cheers

[2019-08-30 16:02] narration-sd commented on #313
Look up 'inline fragments' on Types, Jonas.

How you get any but the most primary Element fields.

Grüss

[2019-08-30 16:03] Jones-S commented on #313
Thank you for the quick response. I'll check it out.

[2019-08-30 20:41] narration-sd commented on #313
You need them any time the fields are not part of the primary target, which in Craft's case is Element.

You are presumably querying on an Entry.  Then any fields you add as properties of its Section,, your fields defined for it, will only be present on the compound type GraphQL generates.

That's why there's emphasis on the 'Documentation' or 'Schema' abilities in Graphiql -- so you can look thes

[2019-08-31 11:12] Jones-S commented on #313
Grüezi is rather used as a greeting :).

Thanks for elaborating, I still don't fully understand. I will try to read some stuff about 'Documentation' or 'Schema' abilities in Graphiql.

But also today, the same query is not warning me at all, and everything looks fine.
Maybe it was a bug?...

[2019-09-01 06:00] narration-sd commented on #313
I can tell you what the situation looks like...

- On your first post, I was in a hurry, having only a moment, and didn't notice that the error was actually concerning 'entries'
- that it does so, would point to a permissions problem actually, since `entries` is a normal term for Craft. You are not permitted at the moment of this query to access entries; therefore it's an unknown name to CraftQL.

[2019-09-01 10:33] Jones-S commented on #313
OK wow. What a long and complete answer. Thank you very much. I am not sure what could have caused the error. Maybe a thing with the token settings, but this would not explain why I got a return for my query. If it reappears I try to go through each of your points. Thank you.

[2019-09-06 12:04] #313 closed

[2019-09-06 12:10] Jones-S opened #314 "Curl Command returns «Not Authorized»"
Again I am having trouble with my craftql installation.
I just moved my local database to a remote database and set up a production environment.

If I use
[code]
it does again return `{"errors":[{"message":"Not authorized"}]}%`

This time it is NOT linked to any local stuff like here #158.
I uninstalled the craftql plugin and reinstalled it on the remote and added a new token.
Same result.

**Funn

[2019-09-06 13:02] Jones-S commented on #314
If I return this on the remote from the `vendor/markhuot/craftql/src/Controllers/ApiController.php`
within the `actionIndex` method:
[code]

I get:
`{"error":[{"auth":null}]}% `

Are there some settings on some hosting services that prevent auth tokens being sent?

[2019-09-06 19:41] narration-sd commented on #314
Hmm. In short, yes, Apache (web server app) can apparently be quite unruly about this.

Here's an unfortunately vexing set of information: https://stackoverflow.com/questions/26549250/apache-strips-down-authorization-header

You might try the .htaccess part, and see if that fixes for you. If not, better have a conversation with your hosting provider actual technical admins.

Good troubleshooting m

[2019-09-06 19:44] narration-sd commented on #314
...filled in a few extras, in case  you're reading only by email: check github conversation itself.

[2019-09-06 23:24] Jones-S commented on #314
_.htaccess_
[code]

Did the trick! 🎉

Thanks for the hint. Whenever I saw your link I remembered that in the first half of the post I linked to (#158), also had this answer.
I totally forgot and thought only the MAMP solution was discussed there.

thanks for the pointer.

[2019-09-06 23:24] #314 closed

[2019-09-09 14:51] Jones-S opened #315 "Is graphql sending JSON?"
I know that this maybe related to some other stuff than craftql, but I just have to ask, because I don't know what else I can do to resolve my issue:

I am using an apollo client to fetch from a craftql service.
If I fetch from localhost:3000 to a local backend domain with my craft installation. This works perfectly fine. I get a json response and it works.

If I know want to do the same on the re

[2019-09-09 15:03] Jones-S commented on #315
I also realized that I have slightly different headers (response and request) for the local call which works and the remote call which fails:

WORKS:

<img width="729" alt="Screenshot 2019-09-09 at 16 52 01" src="https://user-images.githubusercontent.com/7059580/64542325-ab22a000-d323-11e9-8199-7bc685c0585c.png">

-----
FAILS with JSON parse error:
<img width="349" alt="Screenshot 2019-09-09 at 17

[2019-09-09 17:17] Jones-S opened #316 "CORS issue because of multiple values inside 'Access-Control-Allow-Origin' returned from craftql"
Maybe this is a bug?

I am getting an error like:

I think this is happening somewhere here:

`craftql/src/Controllers/ApiController.php`
around line 71.
[code]

Why is it sending multiple headers, and how could I stop it to do that, to prevent a CORS issue on my site?

If somebody could share his thoughts, that would be great.
cheers

PS: the same is happening if my remote (not localhost) site is

[2019-09-09 17:21] Jones-S commented on #316
If I change the ApiController to:
[code]
I basically just set the header allow origin hardcoded to `'yolo'`.

I get this when calling the API:

-> **Multiple values** `'yolo, *',`

Where could that additional asterix be added??

[2019-09-09 17:25] minyan-gu opened #317 "[Bug] Table date field not working"
Can't query the Date field inside table field type.

Error message:
`{
  "error": "Expected a value of type \"String\" but received: instance of DateTime"
}`

Env:
Craft CMS: 3.3.1.2
CraftQL: 1.3.4

[2019-09-09 17:44] Jones-S commented on #316
OK. My bad. Because I had some CORS issues once, I added allowed-origins within my htaccess.
Those values there were added to the one that craftql was setting.

I removed my htaccess part and now it works.

Maybe craftql could check if there are some headers set somewhere?
I just waisted hours and hours with this issue.
Anyway, it is resolved. 🎉

[2019-09-09 17:44] #316 closed

[2019-09-09 17:46] Jones-S commented on #315
This one is actually also resolved.
I was totally confused, because I actually had CORS issue (https://github.com/markhuot/craftql/issues/316)
but I could disable those cors messages by using `no-cors` in my apollo client.
Somehow this would make the response appear in the Network tab but would never reach my application.

Very weird and very mysterious error messages or rather the total lack of t

[2019-09-09 17:46] #315 closed

[2019-09-10 08:55] ParallelUniv3rse opened #318 "Feature request: Fetching asset contents"
It would be super helpful to have the possibility of fetching the contents of a JSON, HTML or Text asset directly as plaintext. This feature would cut down on having to query once to fetch the url to asset from graphql and then fetching the asset afterwards.

I'm open to helping out with a PR, but I need a bit of a nudge in the right direction in terms of what needs to be done for this to work.

[2019-09-10 09:41] narration-sd commented on #318
This  might be a little more complicated than you think, as Craft doesn't really deal in images. Which might be as far off as a remote AWS storage bin, and in several sizes according to transform, for example.

Further, the various sizes' files (bytes) are most often lazily constructed on demand from first requests, triggered from a faux initial url which returns a redirect to the actual thing onc

[2019-09-11 00:16] Jones-S commented on #236
It suddenly appeared on my end as well.
I had it before and switching from php 7.3 to 7.2 resolved it back then.

But now I tried 7.3, 7.2, 7.1 and 7.0.
Still no luck.
Is there anything else I could do to resolve this?

[2019-09-11 00:56] narration-sd commented on #236
In a quick look over the landscape, it appears that you may probably actually still be running PHP 7.3.
- I'd first try trashing /vendor, especially, trashing composer.lock(!!), and then doing composer install. This will at the least get you the components and dependencies from your  composer.json actually to be in use...
- if needed, you can also look answer here, its comments, and the next follo

[2019-09-11 12:05] ParallelUniv3rse commented on #318
@narration-sd I see what you mean, but I'm not suggesting any handling like this for images, which are affected by the transforms and are generated on the fly.

My particular use case is using the craft-embedded-assets plugin, which enables users to store any embed's info as json file in the local filesystem. When fetching a .json, .txt or .html file, I can image developers will in many cases want

[2019-09-11 12:18] Jones-S commented on #236
@narration-sd Thanks for your answer. I have indeed 7.2 running. I checked with phpinfo().
I do have error_display enabled now, and it does work.
I am not sure why. Maybe it wasn't 7.2 before? 🤷‍♂

Also it is a bit weird, because I told my MAMP not to display any errors, but the phpinfo says they are still enabled. So it all seems a bit messy here.
Anyway, it's back, up and running and I am happy.

[2019-09-11 14:49] narration-sd commented on #318
@ParallelUniv3rse Arnost, I'm out of the office today until too late your timezone, but something Brandon mentioned in mail reminded, and on principle, I wonder if a Preparse field (a plugin you can find) might not be a better way to approach this?

That's if CraftQL will process it, but if you are setting it to return text, it may well do this...good fortune

[2019-09-11 14:59] narration-sd commented on #236
Well, good, if your happy :)

The ditch /vendor plus ditch composer.lock is a good safe bet though at any time, and could get you around some  'unusual' situations.

MAMP, though -- if it's not, or not always due to some need like machine reboot, etc., following your instructions as to which PHP to use, you'd have to deal with separately. You might talk with @jalendport about it; he's pretty sharp

[2019-09-11 15:02] narration-sd commented on #236
missed stating the third step re: composer -- it's `composer install` after you remove `/vendor` and, crucially, `composer.lock`...I think `composer update` works in that case also....

[2019-09-11 15:06] Jones-S commented on #236
Yeah. I normally follow these steps as well. I think it was the first thing I did. Remove the packages, install them again. I dislike it though that I always have to add a new token and click myself through all the toggles to allow certain graphql access.
I like that in the craft core graphql there is a toggle all button. 👍

[2019-09-11 15:22] narration-sd commented on #236
Well, can't help on the tokens; as they say in some film, 'it is what it is'...

I would talk to @jalendport, Jalen Davenport, though - he's also quite active on Craft Discord. and you can look up his handle there. By my observation, MAMP can be tricky, and you'd like a way to tie down this PHP version thing, seem after this episode.  Anything you can make more solid, more happy...!

[2019-09-12 00:38] ca-miked opened #319 "Error after purchasing license > "Craft Pro is required for this""
Unable to run any queries at all in craft without getting "Craft Pro is required for this". Is this plugin not compatible with the core GraphQL api as of this version?

- Craft CMS 3.3.2
- CraftQL Plugin version 1.3.4

Help?

[2019-09-12 01:04] narration-sd commented on #319
You're talking to the built-in GraphQL API.

You want to connect instead the CraftQL API, so you'll need to set it or the internal one to a recognizably different url path.

Doc on either; CraftQL's is on its github readme, config file is easy.

Can't help more as on phone; Dev machine is having its Windows reloaded - don't ask 🙃